:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
    --light-grey: #f6f6f8;

        /* fonts-variable */
    --fs-24: 24px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-semibold';
    font-style: normal;
    font-weight: 700; /* Semibold */
    src: url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Sofia-Pro';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sofia-pro.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Sofia-Pro-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/sofia-pro-bold.woff2') format('woff2');
    font-display: swap;
}

/* start header ship-to and currency select css  */

  .desktop-view .headerSearch .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  .desktop-view .headerSearch .ship-to-dropdown{
    position: relative;
    left: 15px;
  }
  .desktop-view .headerSearch .ship-to.show{
    transform: translate(-40px, 40px) !important;
    border: 1px solid #aaaaaa66;
    width: 210px;
  }
  .desktop-view .headerSearch .ship-to .dropdown-item{
    font-family: 'Lato-semibold';
    font-size: var(--fs-14);
    line-height: 22.64px;
    padding: 6px 12px;
  }
  .desktop-view .headerSearch .dropdown-menu .dropdown-search{
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0px 4px;
  }
  
  .desktop-view .headerSearch .dropdown-menu .dropdown-search .search-country-ship{
    border: none;
    background-color: var(--light-grey);
    max-height: 34px;
    padding: 9px 10px;
    font-size: var(--fs-12);
    font-family: 'Lato-Regular';
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-color:transparent  !important;
  }
  /* Style for flag images in the dropdown */
  .dropdown-item img {
    width: 24px;
    height: 16px;
    margin-right: 10px;
  }

  /* Hide the text when the dropdown option is selected */
  .selected-flag img {
    width: 24px;
    height: 16px;
  }
  .selected-flag {
    font-size: 0; /* Hide text */
  }
  .desktop-view .headerSearch .currency-dropdown .dropdown-menu.show {
    width: 200px;
  }
  .desktop-view .headerSearch .currency-dropdown #selectedCurrency {
    color: var(--deep-slate-gray);
    font-family: 'Lato-semibold';
    font-size: var(--fs-14);
    line-height: 20px;
    font-weight: 600;
  }
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .currency-search-field {
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .currency-search-field input{
    font-size: var(--fs-12);
}
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .dropdown-currency {
    max-height: 300px;
    overflow-y: auto;
}
.desktop-view .headerSearch .language #selectedLanguage{
    color: var(--deep-slate-gray);
    font-family: 'Lato-semibold';
    font-size: var(--fs-14);
    line-height: 20px;
    font-weight: 600;
    position: relative;
    top: 1px;
}
.desktop-view .headerSearch .language .dropdown-toggle::after{
    position: relative;
    left: 3px;
}



/* end header ship-to and currency select css */
.tablet-view{
    display: none;
}
.tablet-footer{
    display: none;
}
.mobile-view{
    display: none;
}
input::placeholder {
    color: var(--muted-grey);
    opacity: 1; /* Make sure the placeholder is fully opaque */
}

input:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute; /* Position relative to input */
    z-index: 1000; /* Above other elements */
}
.dropdown-item {
    cursor: pointer;
}
#suggestions{
    position: absolute;
    color: var(--black-color);
    z-index: 999;
    top: 0px;
    left: 107px;
    width: 44%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ===================================== Start Top Header Css ===================================== */
.top-header{
    position: relative;
    background-color: var(--primary-color);
}
.top-header .top-header-text{
    font-family: 'Lato-semibold';
    font-size: 0.8rem;
    line-height: 16px;
}
/* ===================================== End Top Header Css ===================================== */

/* ===================================== Start Header Css ===================================== */
.headerSearch{
    position:relative;
}
.headerSearch .search-form{
    position:relative;
}
.headerSearch .search-form .input-group{
    width: 400px;
    height: 46px;
    margin: 0% 13%;
}
.headerSearch .search-form .input-group .searchBar{
    background-color: var(--light-lavender);
    color:var(--muted-grey);
    font-size: var(--fs-14);
    font-family: 'Lato-semibold';
}
.headerSearch .search-form .input-group .input-group-text{
   background-color: var(--black-color);
   border: 2px;
}
.headerSearch .text-decoration-none{
   color: var(--deep-slate-gray);
   font-family: 'Lato-semibold';
   font-size: var(--fs-14);
   line-height: 20px;
   font-weight: 600;
   position: relative;
   bottom: 1px;
}

.headerSearch .dropdown-menu.show{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: 1px solid #aaa;
    border-radius: 0px;

}
.headerSearch .dropdown-item{
    color: var(--Eigengrau) !important;
    font-family: 'Lato-semibold';
    font-weight: 600;
    font-size: var(--fs-14);
}

.headerSearch .dropdown-item:focus, 
.headerSearch .dropdown-item:hover, 
.headerSearch .dropdown-item.active {
    background-color: transparent !important;
    color: var(--custome-color) !important; 
}

/* mega menu style */
.mega-menu-section {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mega-menu-section .navbar .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.mega-menu-section .navbar .dropdown:hover .dropdown-menu {
    display: block;
    left: 16px;
    font-family: 'Lato-Regular';
    line-height: 32px;
    font-size: var(--fs-16);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
}

.mega-menu-section .navbar .dropdown:hover .dropdown-menu .used-cars-dp{
    line-height: 33.2px;
}
.mega-menu-section .navbar .dropdown:hover .dropdown-menu .car-services-mm{
    width: 28px;
    height: 16px;
}
.mega-menu-section .navbar .mega-menu {
    padding: 20px;
    width: max-content;
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item{
    padding: 0;
    font-size: var(--fs-14);
    color: var(--para-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover {
    color:var(--custome-color) !important;
    background-color: transparent !important;
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover svg path{
    fill: var(--custome-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover span {
    color: var(--custome-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Lato-semibold';
    margin: 0px 10px;
    font-weight: 600;
    font-size: var(--fs-14);
    color: var(----rich-black);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-menu h6{
    font-family: 'Lato-semibold';
    font-weight: 600;
    font-size: 18px;
    color: var(----rich-black);
    white-space: nowrap;
}

/* ================= Start Hero Slider Css ======== */
.carousel-start{
    margin: 0px 8px !important;
}
.carousel .carousel-inner .carousel-item img{
    height: 432px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    position: absolute;
    top: 440px;
    display: block !important;
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
    border: 1px solid #5d6370 !important;
}
.carousel-control-next, .carousel-control-prev{
    width:90% !important;
}

 /* Style the carousel indicators */
 .carousel-indicators [data-bs-target]{
    width: 6px !important;
    height: 6px !important; 
 }
 .carousel-indicators button {
    background-color: var(--white-color) !important; /* Grey color for inactive indicator */
    border: 1px solid var(--border-color) !important; /* Remove the border */
    border-radius: 50%; /* Make it a circle */
    outline: none; /* Remove the outline */
    opacity:1.5; /* Add some transparency to inactive buttons */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}
.carousel-indicators{
    position: relative;
    top: 450px;
}

.carousel-indicators .active {
    background-color: var(--custome-color) !important;
    width: 15px !important;
    height: 6px !important; 
    border-radius: 25% !important;
    border: 1px solid var(--custome-color) !important;
}
.carousel-control-prev-icon{
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27 viewBox=%270%200%2016%2016%27 fill=%27%23333%27%3E%3Cpath d=%27M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z%27%2F%3E%3C%2Fsvg%3E') !important;
    background-size: 50% 50% !important;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; 
    background-size: 50% 50% !important;
}

.hero-slider-form-area .form-slider{
    position: absolute;
    background-color: var(--white-color);
    top: 30px;
    left: 25px;
    width: 25%;
    border-radius: 6px;
    z-index: 1;
}
.hero-slider-form-area .form-slider .from-wrapper .heading{
    color: var(--para-color);
    font-size: var(--fs-16);
    font-family: 'Lato-Regular';
    font-weight: 700;
}
.hero-slider-form-area .form-slider .from-wrapper .form-select{
    font-size: var(--fs-12);
    font-family: 'Lato-Regular';
    border-radius: 4px;
    border: 1px solid #858a944f;
    color: #858a94;
    box-shadow: none;
}
.hero-slider-form-area .form-slider .from-wrapper .btn-slider-form-search{
    background-color: var(--custome-color);
    width: 100%;
    color: var(--white-color);
    font-family: 'Lato-semibold';
    font-size: var(--fs-18);
}
.hero-slider-form-area .form-slider .from-wrapper .advance-search p{
    font-size: var(--fs-12);
    text-align: end;
    color: var(--custome-color);
    font-family: 'Lato-semibold';
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown {
    border: 1px solid #858a944f;
    border-radius: 4px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-make{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .stock-inhand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .advance-search{
    cursor: pointer;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .make-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .make-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-make{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-make:hover{
    background-color: #dadddf !important;
}

/* Model Search */
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-model{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .model-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .model-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-model{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-model:hover{
    background-color: #dadddf !important;
}

/* Type Search */
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .type-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .type-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-type{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-type:hover{
    background-color: #dadddf !important;
}

/* Type Search */
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-steering{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .steering-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .steering-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-steering{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-steering:hover{
    background-color: #dadddf !important;
}

/* Min Year Search */
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-min-year{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .min-year-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .min-year-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-minyear{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-minyear:hover{
    background-color: #dadddf !important;
}

/* Min Year Search */
.hero-slider-form-area .form-slider .from-wrapper .dropdown .btn-select-max-year{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    font-family: 'Lato-Regular';
    color: #858a94;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .max-year-search-field{
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .max-year-search-field input{
   font-size: var(--fs-12);
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-maxyear{
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    line-height: 25px;
    margin: 10px 0px;
}
.hero-slider-form-area .form-slider .from-wrapper .dropdown .dropdown-menu .dropdown-maxyear:hover{
    background-color: #dadddf !important;
}
/* ================= End Hero Slider Css ======== */

/* ================= Start How to Buy Css ======== */
.how-to-buy-desktop{
    position: relative;
}
.how-to-buy-desktop .title p{
    font-family: 'Lato-semibold';
    font-size: var(--fs-24);
    color: #020408;
    line-height: 28px;
}
.how-to-buy-desktop .browseInventory{
    border: 1px solid var(--border-color);
}
.how-to-buy-desktop .browseInventory .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .browseInventory .text{
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .makePayment{
    border: 1px solid var(--border-color);
}
.how-to-buy-desktop .makePayment .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .makePayment .text{
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .trackShipment{
    border: 1px solid var(--border-color);
}
.how-to-buy-desktop .trackShipment .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .trackShipment .text{
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .receiveDelivery{
    border: 1px solid var(--border-color);
}
.how-to-buy-desktop .receiveDelivery .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .receiveDelivery .text{
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    color: var(--para-color);
    line-height: 28px;
}
.how-to-buy-desktop .buy-more{
   padding: 50px 0px;
}
.how-to-buy-desktop .buy-more .details{
   text-decoration: none;
   font-family: 'Lato-semibold';
    color: #5d6370;
    text-decoration: none;
    cursor: pointer;
}
.how-to-buy-desktop .buy-more .details span:hover{
  color: var(--custome-color);
}

/* ================= End How to Buy Css ======== */

/* ================= Start Where We Operat Css ======== */
.where-we-operates-desktop{
    position: relative;
}
.where-we-operates-desktop .title{
    font-family: 'Lato-semibold';
    font-size: var(--fs-24);
    color: #020408;
    line-height: 28px;
}
.where-we-operates-desktop .operateInPakistan{
    border: 1px solid var(--border-color);
    width: 100%;
}
.where-we-operates-desktop .operateInPakistan:hover{
    border: 1px solid var(--custome-color);
    cursor: pointer;
}
.where-we-operates-desktop .operateInPakistan .heading{
    font-size: var(--fs-20);
    font-family: 'Lato-semibold';
    line-height: 28px;
    letter-spacing: -0.016em;
    color: var(--para-color);
}
.where-we-operates-desktop .operateInKenya{
    border: 1px solid var(--border-color);
    width: 100%;
} 
.where-we-operates-desktop .operateInKenya:hover{
    border: 1px solid var(--custome-color);
    cursor: pointer;
} 
.where-we-operates-desktop .operateInKenya .heading{
    font-size: var(--fs-20);
    font-family: 'Lato-semibold';
    line-height: 28px;
    letter-spacing: -0.016em;
    color: var(--para-color);
}
.where-we-operates-desktop .operateInTanzania{
    border: 1px solid var(--border-color);
    width: 100%;
}
.where-we-operates-desktop .operateInTanzania:hover{
    border: 1px solid var(--custome-color);
    cursor: pointer;
}
.where-we-operates-desktop .operateInTanzania .heading{
    font-size: var(--fs-20);
    font-family: 'Lato-semibold';
    line-height: 28px;
    letter-spacing: -0.016em;
    color: var(--para-color);
}
.where-we-operates-desktop .operateInGB{
    border: 1px solid var(--border-color);
    width: 100%;
}
.where-we-operates-desktop .operateInGB:hover{
    border: 1px solid var(--custome-color);
    cursor: pointer;
}
.where-we-operates-desktop .operateInGB .heading{
    font-size: var(--fs-20);
    font-family: 'Lato-semibold';
    line-height: 28px;
    letter-spacing: -0.016em;
    color: var(--para-color);
}

.where-we-operates-desktop .buy-more .details{
    text-decoration: none;
    font-family: 'Lato-semibold';
     color: #5d6370;
     text-decoration: none;
     cursor: pointer;
 }
.where-we-operates-desktop .buy-more .details span:hover{
    color: var(--custome-color);
  }
  .where-we-operates-desktop  .line {
    border-top: 1px solid var(--border-color);
  }

  .where-we-operates-desktop .toggle-flags {
    display: none; /* Initially hidden */
}

.where-we-operates-desktop .toggle-flags .flag-show{
    padding: 15px;
    border: 1px solid var(--secondary-color);
    text-align: left;
}
.where-we-operates-desktop .toggle-flags .flag-show:hover{
    border: 1px solid var(--rich-black);
    cursor: pointer;
}
.where-we-operates-desktop .toggle-flags .toggle2 .show-more-countries{
    border: none;
    background: none;
    font-family: 'Lato-semibold';
    color: #5d6370;
    text-decoration: none;
    cursor: pointer;
    padding: 40px 0px;
}
  
/* ================= End Where We Operat Css ======== */

/* ================= Start Web Promotion Css ======== */
.web-promotion3-desktop{
    position:relative;
}
.web-promotion3-desktop .wrapper{
    background-color: #f4f5ee;
    padding-inline: 65px;
    padding-top: 60px;
    border-radius: 20px;
    padding-bottom: 10px;
}
.web-promotion3-desktop .wrapper .web_promotion3_banner .left-side .title{
        font-family: "Lato-semibold";
        font-size: 23.12px;
        font-weight: 600;
        line-height: 36.9px;
        letter-spacing: -0.02em;
        color: #0c1529; 
        margin:0;
}
.web-promotion3-desktop .wrapper .web_promotion3_banner .left-side .para{
        font-family: "Lato-Regular";
}
.web-promotion3-desktop .wrapper .web_promotion3_banner .center-side .scan-tag{
        font-family: 'Lato-semibold';
}

/* ================= End Web Promotion Css ======== */

/* ================= Start Need Help Css ======== */
.need_help-desktop{
    position:relative;
}
.need_help-desktop .wrapper{
    position:relative;
}
.need_help-desktop .wrapper .heading{
    font-family: 'Sofia-Pro-Bold';
    font-size: 24px;
    font-weight: 500;
}
.need_help-desktop .wrapper .help-service{
    padding: 14px 18px 14px 14px;
    background-color: #2f2b430d;
    border-radius: 8px;
    width: 303px;
    height: 70px;
}
.need_help-desktop .wrapper .help-service .left .info{
    padding-left: 12px;
}
.need_help-desktop .wrapper .help-service .left .info .title-help{
    color: #020408;
    font-family: 'Lato-Regular';
    line-height: 24px;
    letter-spacing: -0.16px;
    font-size: 16px;
    font-weight: 900;
}
.need_help-desktop .wrapper .help-service .left .info .para-help{
    color: #5D6370;
    font-family: 'Lato-Regular';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.12px;
}
.need_help-desktop .wrapper .help-service .right .fa-chevron-right:before{
    content: "\f054";
    color: #353C4D;
    font-size: 14px;
}


/* ================= End Need Help Css ======== */

/* ================= Start Best Seller By Type Css ======== */
.best-seller-by-type-desktop{
    position: relative;
}
.best-seller-by-type-desktop .title{
    position: relative;
}
/* ================= End Best Seller By Type Css ======== */

/* ================= Start Best Seller By Type Css ======== */
.best-seller-by-type-desktop{
    position: relative;
}
.best-seller-by-type-desktop .title{
    font-family: 'Lato-semibold';
    font-size: var(--fs-24);
    color: #020408;
    line-height: 28px;
}
.best-seller-by-type-desktop .product-card .heading{
    color: var(----rich-black);
    font-family: 'Lato-semibold';
}
.best-seller-by-type-desktop .product-card ul{
    padding: 0;
    line-height: 30px;
}
.best-seller-by-type-desktop .product-card ul li{
    list-style-type: none;
    font-family: 'Lato-Regular';
}
.best-seller-by-type-desktop .product-card ul li:hover{
    text-decoration: underline;
    text-decoration-color: #1c6a9b;
}
.best-seller-by-type-desktop .product-card ul li .product-card-list{
    color: #1c6a9b;
}

.best-seller-by-type-desktop .buy-more{
    padding: 50px 0px;
 }
 .best-seller-by-type-desktop .buy-more .details{
    text-decoration: none;
    font-family: 'Lato-semibold';
     color: #5d6370;
     text-decoration: none;
     cursor: pointer;
 }
 .best-seller-by-type-desktop .buy-more .details span:hover{
    color: var(--custome-color);
  }

/* ================= End Best Seller By Type Css ======== */

/* ================= Start By Decision Desktop Css ======== */
.by-decision-desktop{
    position: relative;
}
.by-decision-desktop .title{
    font-family: 'Lato-semibold';
    font-size: var(--fs-24);
    color: #020408;
    line-height: 28px;
}

.by-decision-desktop .best-seller-card{
    cursor: pointer;
}
.by-decision-desktop .best-seller-card img{
    width: 100%;
    height: 187px;
}
.by-decision-desktop .best-seller-card .blog-para{
    font-family: "Lato-Regular";
    font-size: 15px;
    font-weight: 600;
    color: rgb(53, 60, 77);
    margin: 0;
}
.by-decision-desktop .best-seller-card .blog-post-date{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.by-decision-desktop  .buy-more{
    padding: 50px 0px;
 }
 .by-decision-desktop  .buy-more .details{
    text-decoration: none;
    font-family: 'Lato-semibold';
     color: #5d6370;
     text-decoration: none;
     cursor: pointer;
 }
 .by-decision-desktop  .buy-more .details span:hover{
    color: var(--custome-color);
  }
/* ================= End By Decision Desktop Css ======== */

/* ================= Start Faqs Desktop Css ======== */
.faqs-desktop{
    position:relative;
}
.faqs-desktop .accordian-title .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-24);
    color: #020408;
    line-height: 28px;
}
.faqs-desktop .accordion-button::after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: transform 0.3s ease;
    background-image: none !important;
}

.faqs-desktop .accordion-button:not(.collapsed)::after {
    content: "\f068"; 
    transform: rotate(180deg); 
}

.faqs-desktop .accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.014em;
    color: var(--black-color);
    transition: all 0.2s linear;
    box-shadow: none !important;
}
.faqs-desktop .accordion-body {
    font-family: 'Lato-Regular';
    font-size: var(--fs-20);
    line-height: 28px;
    letter-spacing: -0.014em;
    color: #858a94;
    margin-bottom: 0px;
}
.faqs-desktop .accordion-button:not(.collapsed) {
   background-color: transparent;
}
.faqs-desktop .accordion-item {
    border-left: none;
    border-right: none;
}

.faqs-desktop .buy-more{
    padding: 50px 50px 0px 50px;
 }
 .faqs-desktop .buy-more .details{
    text-decoration: none;
    font-family: 'Lato-semibold';
     color: #5d6370;
     text-decoration: none;
     cursor: pointer;
 }
 .faqs-desktop .buy-more .details span:hover{
    color: var(--custome-color);
  }
/* ================= End Faqs Desktop Css ======== */


/* ===================================== Start Footer Css ===================================== */

footer{
    position:relative;
}
footer .footer-wrapper{
    background-color: var(--primary-color);
}
/* footer .footer-wrapper .footer-logo img{
    width:182px;
    height: 61px;
} */
footer .footer-wrapper .heading{
    color:var(--white-color);
    font-size: var(--fs-16);
    font-family:'Lato-semibold';
    line-height: 24px;
}
footer .footer-wrapper .send-feedback button{
    background-color: var(--skin-color);
    color: var(--Eigengrau);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
    border: 1px solid var(--skin-color);
    padding: 10px 20px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: center;
    border-radius: 6px;
}
footer .footer-wrapper .app-reference{
   position: relative;
}

footer .footer-wrapper .app-reference .refer-to-download .google-logo{
    width: 109.72px;
    height: 36.68px;
}
footer .footer-wrapper .app-reference .refer-to-download .app-logo{
    width: 123.78px;
    height: 36.68px;
}
footer .footer-wrapper .contact{
    position:relative;
}
footer .footer-wrapper .contact .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-16);
    line-height: 26px;
}

footer .footer-wrapper .contact .contact-by-phone a{
    display: flex;
    align-items: center;
    color:var(--white-color);
    text-decoration: none;
}
footer .footer-wrapper .contact .contact-by-phone a img{
    width: 24px;
    height: 24px;
}
footer .footer-wrapper .contact .contact-by-phone a p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: var(--fs-14);
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}
footer .footer-wrapper .contact .contact-by-email a{
    display: flex;
    align-items: center;
    color:var(--white-color);
    text-decoration: none;
}
footer .footer-wrapper .contact .contact-by-email a img{
    width: 24px;
    height: 24px;
}
footer .footer-wrapper .contact .contact-by-email a p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: var(--fs-14);
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}
footer .footer-wrapper .contact .contact-by-address{
    display: flex;
    color:var(--white-color);
}

footer .footer-wrapper .contact .contact-by-address img{
    width: 24px;
    height: 24px;
}

footer .footer-wrapper .contact .contact-by-address p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: var(--fs-14);
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}

footer .footer-wrapper .social-links{
   position: relative;
}
footer .footer-wrapper .social-links .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-16);
    line-height: 26px;
}
footer .footer-wrapper .social-links .social-links-ref{
   position: relative;
}
footer .footer-wrapper .social-links .social-links-ref a{
   text-decoration: none;
}
footer .footer-wrapper .social-links .social-links-ref img{
   width: 32px;
   height: 32px;
}
footer .footer-wrapper .join-by-mailing{
    position: relative;
 }
footer .footer-wrapper .join-by-mailing .heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-16);
    line-height: 26px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref{
    display: flex;
    background-color: var(--white-color);
    height: 45px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref input{
    font-family: 'Lato-Regular';
    font-size: var(--fs-14);
    color: var(--placeholder-color);
    line-height: 18.92px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref span{
    font-family: 'Lato-Regular';
    font-size: var(--fs-14);
    background-color: var(--custome-color);
    color: var(--white-color);
    line-height: 18.92px;
    cursor: pointer;
 }
footer .footer-wrapper .footer-list{
    position:relative;
 }
footer .footer-wrapper .footer-list .list-heading{
    font-family: 'Lato-semibold';
    font-size: var(--fs-16);
    line-height: 26px;
    color: var(--white-color);
 }
footer .footer-wrapper .footer-list .list-unstyled li a{
    text-decoration: none;
    color: var(--white-color);
    font-size:var(--fs-14);
    font-family:'Lato-Regular';
    font-weight: 500;
    line-height: 20px;
 }
footer .footer-support-wrapper{
    background-color: var(--dark-primary);
 }
footer .footer-support-wrapper .footer-support{
    position: relative;
    display: flex;
 }
footer .footer-support-wrapper .footer-support img{
    width:46px;
    height:46px;
 }
footer .footer-support-wrapper .footer-support .footer-support-heading{
    color: var(--white-color);
    font-family: 'Lato-semibold';
    margin: 0;
    padding: 0px 15px;
    font-size: var(--fs-16);
    line-height: 26px;
 }
footer .footer-support-wrapper .footer-support .footer-small{
    color: var(--white-color);
    font-family: 'Lato-Regular';
    font-size: 13px;
    line-height: 24px;

 }
footer .footer-copyright{
    background: var(--dark-primary);
    color: var(--white-color);
    border-top: 1px solid var(--border-color);
    font-family: 'Lato-semibold';
    font-size: var(--fs-16);
    line-height: 24px;
    padding: 15px 0px;
 }
/* ===================================== End Footer Css ===================================== */

