:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
    --light-grey: #f6f6f8;

        /* fonts-variable */
    --fs-16: 1rem;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-semibold';
    font-style: normal;
    font-weight: 700; /* Semibold */
    src: url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-display: swap;
}

/* start header ship-to and currency select css  */

  .desktop-view .headerSearch .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }
  .desktop-view .headerSearch .ship-to-dropdown{
    position: relative;
    left: 15px;
  }
  .desktop-view .headerSearch .ship-to.show{
    transform: translate(-40px, 40px) !important;
    border: 1px solid #aaaaaa66;
    width: 210px;
  }
  .desktop-view .headerSearch .ship-to .dropdown-item{
    font-family: 'Lato-semibold';
    font-size: var(--fs-14);
    line-height: 22.64px;
    padding: 6px 12px;
  }
  .desktop-view .headerSearch .dropdown-menu .dropdown-search{
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0px 4px;
  }
  
  .desktop-view .headerSearch .dropdown-menu .dropdown-search .search-country-ship{
    border: none;
    background-color: var(--light-grey);
    max-height: 34px;
    padding: 9px 10px;
    font-size: var(--fs-12);
    font-family: 'Lato-Regular';
  }

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    border-color:transparent  !important;
  }
  /* Style for flag images in the dropdown */
  .dropdown-item img {
    width: 24px;
    height: 16px;
    margin-right: 10px;
  }

  /* Hide the text when the dropdown option is selected */
  .selected-flag img {
    width: 24px;
    height: 16px;
  }
  .selected-flag {
    font-size: 0; /* Hide text */
  }
  .desktop-view .headerSearch .currency-dropdown .dropdown-menu.show {
    width: 200px;
  }
  .desktop-view .headerSearch .currency-dropdown #selectedCurrency {
    color: var(--deep-slate-gray);
    font-family: 'Lato-semibold';
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .currency-search-field {
    max-height: 34px;
    font-family: 'Lato-Regular';
    background-color: var(--light-grey);
    border: 1px solid var(--border-color);
}
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .currency-search-field input{
    font-size: var(--fs-12);
}
  .desktop-view .headerSearch .currency-dropdown .dropdown .dropdown-menu .dropdown-currency {
    max-height: 300px;
    overflow-y: auto;
}
.desktop-view .headerSearch .language #selectedLanguage{
    color: var(--deep-slate-gray);
    font-family: 'Lato-semibold';
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    top: 1px;
}
.desktop-view .headerSearch .language .dropdown-toggle::after{
    position: relative;
    left: 3px;
}



/* end header ship-to and currency select css */
.tablet-view{
    display: none;
}
.tablet-footer{
    display: none;
}
.mobile-view{
    display: none;
}
input::placeholder {
    color: var(--muted-grey);
    opacity: 1; /* Make sure the placeholder is fully opaque */
}

input:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    display: none; /* Initially hidden */
    position: absolute; /* Position relative to input */
    z-index: 1000; /* Above other elements */
}
.dropdown-item {
    cursor: pointer;
}
#suggestions{
    position: absolute;
    color: var(--black-color);
    z-index: 999;
    top: 0px;
    left: 107px;
    width: 44%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ===================================== Start Top Header Css ===================================== */
.top-header{
    position: relative;
    background-color: var(--primary-color);
}
.top-header .top-header-text{
    font-family: 'Lato-semibold';
    font-size: 0.8rem;
    line-height: 16px;
}
/* ===================================== End Top Header Css ===================================== */

/* ===================================== Start Header Css ===================================== */
.headerSearch{
    position:relative;
}
.headerSearch .search-form{
    position:relative;
}
.headerSearch .search-form .input-group{
    width: 400px;
    height: 46px;
    margin: 0% 13%;
}
.headerSearch .search-form .input-group .searchBar{
    background-color: var(--light-lavender);
    color:var(--muted-grey);
    font-size: 14px;
    font-family: 'Lato-semibold';
}
.headerSearch .search-form .input-group .input-group-text{
   background-color: var(--black-color);
   border: 2px;
}
.headerSearch .text-decoration-none{
   color: var(--deep-slate-gray);
   font-family: 'Lato-semibold';
   font-size: 14px;
   line-height: 20px;
   font-weight: 600;
   position: relative;
   bottom: 1px;
}

.headerSearch .dropdown-menu.show{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: 1px solid #aaa;
    border-radius: 0px;

}
.headerSearch .dropdown-item{
    color: var(--Eigengrau) !important;
    font-family: 'Lato-semibold';
    font-weight: 600;
    font-size: 14px;
}

.headerSearch .dropdown-item:focus, 
.headerSearch .dropdown-item:hover, 
.headerSearch .dropdown-item.active {
    background-color: transparent !important;
    color: var(--custome-color) !important; 
}

/* mega menu style */
.mega-menu-section {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mega-menu-section .navbar .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.mega-menu-section .navbar .dropdown:hover .dropdown-menu {
    display: block;
    left: 16px;
    font-family: 'Lato-Regular';
    line-height: 32px;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
}

.mega-menu-section .navbar .dropdown:hover .dropdown-menu .used-cars-dp{
    line-height: 33.2px;
}
.mega-menu-section .navbar .dropdown:hover .dropdown-menu .car-services-mm{
    width: 28px;
    height: 16px;
}
.mega-menu-section .navbar .mega-menu {
    padding: 20px;
    width: max-content;
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item{
    padding: 0;
    font-size: 14px;
    color: var(--para-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover {
    color:var(--custome-color) !important;
    background-color: transparent !important;
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover svg path{
    fill: var(--custome-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-item:hover span {
    color: var(--custome-color);
}
.mega-menu-section .navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Lato-semibold';
    margin: 0px 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(----rich-black);
}
.mega-menu-section .navbar .navbar-nav .nav-item .dropdown-menu h6{
    font-family: 'Lato-semibold';
    font-weight: 600;
    font-size: 18px;
    color: var(----rich-black);
    white-space: nowrap;
}

/* ================= Start Hero Slider Css ======== */
.carousel-control-next-icon, .carousel-control-prev-icon{
    position: absolute;
    top: 426px;
    display: block !important;
    height: 25px !important;
    width: 25px !important;
    border-radius: 50% !important;
    border: 1px solid #5d6370 !important;
}
.carousel-control-next, .carousel-control-prev{
    width:90% !important;
}

 /* Style the carousel indicators */
 .carousel-indicators [data-bs-target]{
    width: 6px !important;
    height: 6px !important; 
 }
 .carousel-indicators button {
    background-color: var(--white-color) !important; /* Grey color for inactive indicator */
    border: 1px solid var(--border-color) !important; /* Remove the border */
    border-radius: 50%; /* Make it a circle */
    outline: none; /* Remove the outline */
    opacity:1.5; /* Add some transparency to inactive buttons */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}
.carousel-indicators{
    position: relative;
    top: 435px;
}

.carousel-indicators .active {
    background-color: var(--custome-color) !important;
    width: 15px !important;
    height: 6px !important; 
    border-radius: 25% !important;
    border: 1px solid var(--custome-color) !important;
}
.carousel-control-prev-icon{
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27 viewBox=%270%200%2016%2016%27 fill=%27%23333%27%3E%3Cpath d=%27M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z%27%2F%3E%3C%2Fsvg%3E') !important;
    background-size: 50% 50% !important;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; 
    background-size: 50% 50% !important;
}



/* ================= End Hero Slider Css ======== */
/* ===================================== Start Footer Css ===================================== */

footer{
    position:relative;
}
footer .footer-wrapper{
    background-color: var(--primary-color);
}
/* footer .footer-wrapper .footer-logo img{
    width:182px;
    height: 61px;
} */
footer .footer-wrapper .heading{
    color:var(--white-color);
    font-size: 16px;
    font-family:'Lato-semibold';
    line-height: 24px;
}
footer .footer-wrapper .send-feedback button{
    background-color: var(--skin-color);
    color: var(--Eigengrau);
    font-size: 1rem;
    font-family: 'Lato-semibold';
    line-height: 24px;
    border: 1px solid var(--skin-color);
    padding: 10px 20px;
    font-weight: 700;
    letter-spacing: -0.01em;
    text-align: center;
    border-radius: 6px;
}
footer .footer-wrapper .app-reference{
   position: relative;
}

footer .footer-wrapper .app-reference .refer-to-download .google-logo{
    width: 109.72px;
    height: 36.68px;
}
footer .footer-wrapper .app-reference .refer-to-download .app-logo{
    width: 123.78px;
    height: 36.68px;
}
footer .footer-wrapper .contact{
    position:relative;
}
footer .footer-wrapper .contact .heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
    line-height: 26px;
}

footer .footer-wrapper .contact .contact-by-phone a{
    display: flex;
    align-items: center;
    color:var(--white-color);
    text-decoration: none;
}
footer .footer-wrapper .contact .contact-by-phone a img{
    width: 24px;
    height: 24px;
}
footer .footer-wrapper .contact .contact-by-phone a p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}
footer .footer-wrapper .contact .contact-by-email a{
    display: flex;
    align-items: center;
    color:var(--white-color);
    text-decoration: none;
}
footer .footer-wrapper .contact .contact-by-email a img{
    width: 24px;
    height: 24px;
}
footer .footer-wrapper .contact .contact-by-email a p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}
footer .footer-wrapper .contact .contact-by-address{
    display: flex;
    color:var(--white-color);
}

footer .footer-wrapper .contact .contact-by-address img{
    width: 24px;
    height: 24px;
}

footer .footer-wrapper .contact .contact-by-address p{
   font-family: 'Lato-Regular';
   font-weight: 500;
   font-size: 14px;
   line-height: 24px;
   padding:0px 10px;
   margin: 0;
}

footer .footer-wrapper .social-links{
   position: relative;
}
footer .footer-wrapper .social-links .heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
    line-height: 26px;
}
footer .footer-wrapper .social-links .social-links-ref{
   position: relative;
}
footer .footer-wrapper .social-links .social-links-ref a{
   text-decoration: none;
}
footer .footer-wrapper .social-links .social-links-ref img{
   width: 32px;
   height: 32px;
}
footer .footer-wrapper .join-by-mailing{
    position: relative;
 }
footer .footer-wrapper .join-by-mailing .heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
    line-height: 26px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref{
    display: flex;
    background-color: var(--white-color);
    height: 45px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref input{
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: var(--placeholder-color);
    line-height: 18.92px;
 }
footer .footer-wrapper .join-by-mailing .join-mail-ref span{
    font-family: 'Lato-Regular';
    font-size: 14px;
    background-color: var(--custome-color);
    color: var(--white-color);
    line-height: 18.92px;
    cursor: pointer;
 }
footer .footer-wrapper .footer-list{
    position:relative;
 }
footer .footer-wrapper .footer-list .list-heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
    line-height: 26px;
    color: var(--white-color);
 }
footer .footer-wrapper .footer-list .list-unstyled li a{
    text-decoration: none;
    color: var(--white-color);
    font-size:14px;
    font-family:'Lato-Regular';
    font-weight: 500;
    line-height: 20px;
 }
footer .footer-support-wrapper{
    background-color: var(--dark-primary);
 }
footer .footer-support-wrapper .footer-support{
    position: relative;
    display: flex;
 }
footer .footer-support-wrapper .footer-support img{
    width:46px;
    height:46px;
 }
footer .footer-support-wrapper .footer-support .footer-support-heading{
    color: var(--white-color);
    font-family: 'Lato-semibold';
    margin: 0;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 26px;
 }
footer .footer-support-wrapper .footer-support .footer-small{
    color: var(--white-color);
    font-family: 'Lato-Regular';
    font-size: 13px;
    line-height: 24px;

 }
footer .footer-copyright{
    background: var(--dark-primary);
    color: var(--white-color);
    border-top: 1px solid var(--border-color);
    font-family: 'Lato-semibold';
    font-size: 1rem;
    line-height: 24px;
    padding: 15px 0px;
 }
/* ===================================== End Footer Css ===================================== */

