:root {
  --iti-hover-color: rgba(0, 0, 0, 0.05);
  --iti-text-gray: #999;
  --iti-border-gray: #ccc;
  --iti-spacer-horizontal: 8px;
  --iti-flag-height: 15px;
  --iti-flag-width: 20px;
  --iti-border-width: 1px;
  --iti-arrow-height: 4px;
  --iti-arrow-width: 6px;
  --iti-triangle-border: calc(var(--iti-arrow-width) / 2);
  --iti-arrow-padding: 6px;
  --iti-arrow-color: #555;
  --iti-input-padding: 6px;
  --iti-right-hand-selected-country-padding: calc(var(--iti-spacer-horizontal) + var(--iti-spacer-horizontal) + var(--iti-flag-width));
  --iti-selected-country-arrow-padding: calc(var(--iti-arrow-padding) + var(--iti-arrow-padding) + var(--iti-flag-width) + var(--iti-spacer-horizontal) + var(--iti-arrow-width) + var(--iti-input-padding));
  --iti-path-flags-1x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/img/flags.png?1");
  --iti-path-flags-2x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/img/flags@2x.png?1");
  --iti-path-globe-1x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/img/globe.png");
  --iti-path-globe-2x: url("https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.7/build/img/globe@2x.png");
  --iti-flag-sprite-width: 5762px;
  --iti-flag-sprite-height: 15px;
  --iti-mobile-popup-margin: 30px;
}

.iti {
  position: relative;
  display: inline-block;
}
.iti * {
  box-sizing: border-box;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}
.iti__a11y-text {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
}
.iti input.iti__tel-input,
.iti input.iti__tel-input[type=text],
.iti input.iti__tel-input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: var(--iti-right-hand-selected-country-padding);
  margin-right: 0;
}
.iti__country-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: var(--iti-border-width);
}
.iti__selected-country {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 var(--iti-arrow-padding) 0 var(--iti-spacer-horizontal);
  background: none;
  border: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  border-radius: 0;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}
.iti__arrow {
  margin-left: var(--iti-arrow-padding);
  width: 0;
  height: 0;
  border-left: var(--iti-triangle-border) solid transparent;
  border-right: var(--iti-triangle-border) solid transparent;
  border-top: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
[dir=rtl] .iti__arrow {
  margin-right: var(--iti-arrow-padding);
  margin-left: 0;
}
.iti__arrow--up {
  border-top: none;
  border-bottom: var(--iti-arrow-height) solid var(--iti-arrow-color);
}
.iti__dropdown-content {
  border-radius: 3px;
  background-color: white;
}
.iti--inline-dropdown .iti__dropdown-content {
  position: absolute;
  z-index: 2;
  margin-top: 3px;
  margin-left: calc(var(--iti-border-width) * -1);
  border: var(--iti-border-width) solid var(--iti-border-gray);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.iti__dropdown-content--dropup {
  bottom: 100%;
  margin-bottom: 3px;
}
.iti__search-input {
  width: 100%;
  border-width: 0;
  border-radius: 3px;
  padding: 9px 12px;
}
.iti__search-input + .iti__country-list {
  border-top: 1px solid var(--iti-border-gray);
}
.iti__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.iti--inline-dropdown .iti__country-list {
  max-height: 185px;
}
.iti--flexible-dropdown-width .iti__country-list {
  white-space: nowrap;
}
@media (max-width: 500px) {
  .iti--flexible-dropdown-width .iti__country-list {
    white-space: normal;
  }
}
.iti__flag-box {
  display: inline-block;
  width: var(--iti-flag-width);
}
.iti__divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: var(--iti-border-width) solid var(--iti-border-gray);
}
.iti__country {
  display: flex;
  align-items: center;
  padding: 8px var(--iti-spacer-horizontal);
  outline: none;
}
.iti__dial-code {
  color: var(--iti-text-gray);
}
.iti__country.iti__highlight {
  background-color: var(--iti-hover-color);
}
.iti__flag-box, .iti__country-name {
  margin-right: var(--iti-spacer-horizontal);
}
[dir=rtl] .iti__flag-box, [dir=rtl] .iti__country-name {
  margin-right: 0;
  margin-left: var(--iti-spacer-horizontal);
}
.iti--allow-dropdown input.iti__tel-input,
.iti--allow-dropdown input.iti__tel-input[type=text],
.iti--allow-dropdown input.iti__tel-input[type=tel], .iti--show-selected-dial-code input.iti__tel-input,
.iti--show-selected-dial-code input.iti__tel-input[type=text],
.iti--show-selected-dial-code input.iti__tel-input[type=tel] {
  padding-right: var(--iti-input-padding);
  padding-left: var(--iti-selected-country-arrow-padding);
  margin-left: 0;
}
[dir=rtl] .iti--allow-dropdown input.iti__tel-input,
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=text],
[dir=rtl] .iti--allow-dropdown input.iti__tel-input[type=tel], [dir=rtl] .iti--show-selected-dial-code input.iti__tel-input,
[dir=rtl] .iti--show-selected-dial-code input.iti__tel-input[type=text],
[dir=rtl] .iti--show-selected-dial-code input.iti__tel-input[type=tel] {
  padding-right: var(--iti-selected-country-arrow-padding);
  padding-left: var(--iti-input-padding);
  margin-right: 0;
}
.iti--allow-dropdown .iti__country-container, .iti--show-selected-dial-code .iti__country-container {
  right: auto;
  left: 0;
}
[dir=rtl] .iti--allow-dropdown .iti__country-container, [dir=rtl] .iti--show-selected-dial-code .iti__country-container {
  right: 0;
  left: auto;
}
.iti--allow-dropdown .iti__country-container:hover, .iti--allow-dropdown .iti__country-container:hover button {
  cursor: pointer;
}
.iti--allow-dropdown .iti__country-container:hover .iti__selected-country {
  background-color: var(--iti-hover-color);
}
.iti--allow-dropdown .iti__country-container:has(+ input[disabled]):hover,
.iti--allow-dropdown .iti__country-container:has(+ input[readonly]):hover {
  cursor: default;
}
.iti--allow-dropdown .iti__country-container:has(+ input[disabled]):hover .iti__selected-country,
.iti--allow-dropdown .iti__country-container:has(+ input[readonly]):hover .iti__selected-country {
  background-color: transparent;
}
.iti--show-selected-dial-code .iti__selected-country {
  background-color: var(--iti-hover-color);
}
.iti--show-selected-dial-code.iti--show-flags .iti__selected-dial-code {
  margin-left: var(--iti-arrow-padding);
}
[dir=rtl] .iti--show-selected-dial-code.iti--show-flags .iti__selected-dial-code {
  margin-left: 0;
  margin-right: var(--iti-arrow-padding);
}
.iti--container {
  position: fixed;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: var(--iti-border-width);
}
.iti--container:hover {
  cursor: pointer;
}

.iti--fullscreen-popup.iti--container {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: var(--iti-mobile-popup-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.iti--fullscreen-popup.iti--container.iti--country-search {
  justify-content: flex-start;
}
.iti--fullscreen-popup .iti__dropdown-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
}
.iti--fullscreen-popup .iti__country {
  padding: 10px 10px;
  line-height: 1.5em;
}

.iti__flag {
  --iti-flag-offset: 0px;
  --iti-flag-width: 20px;
  --iti-flag-height: 14px;
  height: var(--iti-flag-height);
  width: var(--iti-flag-width);
  box-shadow: 0px 0px 1px 0px #888;
  background-image: var(--iti-path-flags-1x);
  background-repeat: no-repeat;
  background-position: var(--iti-flag-offset) 0;
  background-size: var(--iti-flag-sprite-width) var(--iti-flag-sprite-height);
}

.iti__np {
  --iti-flag-width: 13px;
}

.iti__va, .iti__ch {
  --iti-flag-width: 15px;
}

.iti__ne, .iti__be {
  --iti-flag-width: 18px;
}

.iti__mc {
  --iti-flag-width: 19px;
}

.iti__zw, .iti__ws, .iti__vg, .iti__uz, .iti__uk, .iti__tv, .iti__to, .iti__tl, .iti__tk, .iti__tj, .iti__tc, .iti__ta, .iti__su, .iti__st, .iti__ss, .iti__si, .iti__sh, .iti__sd, .iti__sc, .iti__sb, .iti__ps, .iti__pn, .iti__ph, .iti__om, .iti__nz, .iti__nu, .iti__nr, .iti__ng, .iti__nf, .iti__nc, .iti__my, .iti__ms, .iti__mp, .iti__mn, .iti__mk, .iti__me, .iti__md, .iti__ly, .iti__lv, .iti__lk, .iti__lc, .iti__kz, .iti__ky, .iti__kw, .iti__kp, .iti__ki, .iti__jo, .iti__jm, .iti__io, .iti__im, .iti__ie, .iti__hu, .iti__hr, .iti__hn, .iti__hm, .iti__gw, .iti__gs, .iti__gi, .iti__gb, .iti__fk, .iti__fj, .iti__et, .iti__er, .iti__eh, .iti__dm, .iti__dg, .iti__cx, .iti__cu, .iti__ck, .iti__cc, .iti__ca, .iti__by, .iti__bs, .iti__bn, .iti__bm, .iti__ba, .iti__az, .iti__au, .iti__as, .iti__am, .iti__ai, .iti__ae, .iti__ac {
  --iti-flag-height: 10px;
}

.iti__us, .iti__um, .iti__py, .iti__mh, .iti__lr, .iti__gu, .iti__fm {
  --iti-flag-height: 11px;
}

.iti__vu, .iti__tt, .iti__sv, .iti__ni, .iti__mx, .iti__lu, .iti__lt, .iti__li, .iti__km, .iti__kg, .iti__je, .iti__ir, .iti__ht, .iti__gy, .iti__gd, .iti__fi, .iti__de, .iti__cv, .iti__cr, .iti__cq, .iti__bz, .iti__bi, .iti__bh, .iti__bg, .iti__bd {
  --iti-flag-height: 12px;
}

.iti__tg, .iti__se, .iti__pw, .iti__pl, .iti__kh, .iti__gt, .iti__ee, .iti__ax, .iti__ar {
  --iti-flag-height: 13px;
}

.iti__xk, .iti__va, .iti__sm, .iti__sj, .iti__pg, .iti__np, .iti__no, .iti__ne, .iti__mc, .iti__is, .iti__il, .iti__ga, .iti__fo, .iti__dk, .iti__ch, .iti__cd, .iti__bv, .iti__be, .iti__al {
  --iti-flag-height: 15px;
}

.iti__qa {
  --iti-flag-height: 8px;
}

.iti__ac {
  --iti-flag-offset: 0px;
}

.iti__ad {
  --iti-flag-offset: -22px;
}

.iti__ae {
  --iti-flag-offset: -44px;
}

.iti__af {
  --iti-flag-offset: -66px;
}

.iti__ag {
  --iti-flag-offset: -88px;
}

.iti__ai {
  --iti-flag-offset: -110px;
}

.iti__al {
  --iti-flag-offset: -132px;
}

.iti__am {
  --iti-flag-offset: -154px;
}

.iti__ao {
  --iti-flag-offset: -176px;
}

.iti__aq {
  --iti-flag-offset: -198px;
}

.iti__ar {
  --iti-flag-offset: -220px;
}

.iti__as {
  --iti-flag-offset: -242px;
}

.iti__at {
  --iti-flag-offset: -264px;
}

.iti__au {
  --iti-flag-offset: -286px;
}

.iti__aw {
  --iti-flag-offset: -308px;
}

.iti__ax {
  --iti-flag-offset: -330px;
}

.iti__az {
  --iti-flag-offset: -352px;
}

.iti__ba {
  --iti-flag-offset: -374px;
}

.iti__bb {
  --iti-flag-offset: -396px;
}

.iti__bd {
  --iti-flag-offset: -418px;
}

.iti__be {
  --iti-flag-offset: -440px;
}

.iti__bf {
  --iti-flag-offset: -460px;
}

.iti__bg {
  --iti-flag-offset: -482px;
}

.iti__bh {
  --iti-flag-offset: -504px;
}

.iti__bi {
  --iti-flag-offset: -526px;
}

.iti__bj {
  --iti-flag-offset: -548px;
}

.iti__bl {
  --iti-flag-offset: -570px;
}

.iti__bm {
  --iti-flag-offset: -592px;
}

.iti__bn {
  --iti-flag-offset: -614px;
}

.iti__bo {
  --iti-flag-offset: -636px;
}

.iti__bq {
  --iti-flag-offset: -658px;
}

.iti__br {
  --iti-flag-offset: -680px;
}

.iti__bs {
  --iti-flag-offset: -702px;
}

.iti__bt {
  --iti-flag-offset: -724px;
}

.iti__bv {
  --iti-flag-offset: -746px;
}

.iti__bw {
  --iti-flag-offset: -768px;
}

.iti__by {
  --iti-flag-offset: -790px;
}

.iti__bz {
  --iti-flag-offset: -812px;
}

.iti__ca {
  --iti-flag-offset: -834px;
}

.iti__cc {
  --iti-flag-offset: -856px;
}

.iti__cd {
  --iti-flag-offset: -878px;
}

.iti__cf {
  --iti-flag-offset: -900px;
}

.iti__cg {
  --iti-flag-offset: -922px;
}

.iti__ch {
  --iti-flag-offset: -944px;
}

.iti__ci {
  --iti-flag-offset: -961px;
}

.iti__ck {
  --iti-flag-offset: -983px;
}

.iti__cl {
  --iti-flag-offset: -1005px;
}

.iti__cm {
  --iti-flag-offset: -1027px;
}