/* ===================================== Media Query ===================================== */
@media(max-width:1399px){
    .carousel-control-next-icon, .carousel-control-prev-icon{
        top: 400px;
    }
    .carousel-indicators{
        top: 410px;
    }
    .top-selling-car-desktop .swiper-slide{
        width: 262px;
    }
    .top-selling-car-desktop .top-selling img {
        /* width: 239px; */
        height: 179.25px;
    }
    .recomended-car-desktop .recomended-car img {
        /* width: 255px; */
        height: 213px;
    }
    .early-budget-desktop .recomended-car img {
        /* width: 245px; */
        height: 213px;
    }
    .customer-review-desktop .review-box{
        width: 95%;
    }
    .advance-search-calculator .shipping-calculate .btn-reset,
    .advance-search-calculator .shipping-calculate .btn-calculator{
        width:max-content; 
    }
    .advance-search-calculator .form-check{
        padding-left: 0.5em;
    }
    .advance-search-calculator .form-check .form-check-input {
        margin-left: -6px !important;
        margin: 4px;
    }
    .advance-search-calculator .list-view .wrappers .top-points .earn,
    .advance-search-calculator .list-view .wrappers .top-points .sale,
    .advance-search-calculator .list-view .wrappers .top-points .premium,
    .advance-search-calculator .list-view .wrappers .top-points .discounted{
        font-size: 10px;
        white-space: nowrap;
        padding: 4px 7px 4px 3px;
    }
    .advance-search-calculator .list-view .wrappers .right .countryLoc .top .title,
    .advance-search-calculator .list-view .wrappers .right .countryLoc .top .name,
    .advance-search-calculator .list-view .wrappers .center .detail1 .inner .top .year,
    .advance-search-calculator .list-view .wrappers .right .car-price .price{
        font-size: 16px;
    }
    .advance-search-calculator .list-view .wrappers .center .detail1 .inner .top .model,
    .advance-search-calculator .list-view .wrappers .right .car-price .title{
        font-size: 14px;
    }
    .advance-search-calculator .list-view .wrappers .center .detail1 .more-detail .model-code .bottom{
        font-size: 11px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing-action .btn-buynow,
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing-action .btn-reserve,
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing-action .btn-inquire{
        margin: 10px 0px 0px 50px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .title{
        font-size: 24px;
        padding: 0px 50px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .para{
        font-size: 16px;
        padding: 15px 50px;
        width: 100%;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .appAction{
        padding: 0px 50px;
        width: 400px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .serviceMap .inner .mapAddress .address{
        padding: 0px 30px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .headOffice .inner .officeLocation .locationPic img{
        width: 45%;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .headOffice .inner .officeLocation .locationPic iframe{
        width: 45%;
        height: 257px;
    }
    .carrier_service_policy_desktop .carrierService .innerDetails .utilizeCar .inner .inner{
        height: 245px;
    }
    .how-to-pay-desktop .howToPay .right{
        margin: 0px 50px;
    }
}

@media(max-width:1199px){
    .carousel-control-next-icon, .carousel-control-prev-icon{
        top: 330px;
    }
    .carousel-indicators{
        top: 340px;
    }
    .navbar .searchBar{
        width: 190px !important;
    }
    .headerSearch .search-form .input-group{
        width:100%;
    }
    .headerSearch .search-form .input-group{
        margin: 0;
    }
    .mega-menu-section .navbar .navbar-nav .nav-item .nav-link{
        margin: 0;
    }
    .tablet-view{
        display: block;
    }
    .desktop-view{
        display: none;
    }

    .popular_used_car-tablet .swiper-button-next, .popular_used_car-tablet .swiper-button-prev{
        display: none;
    }
    .find-my-car-desktop .wrapper .find-car-left .modal-dialog .modal-content{
        right: 15%;
    }
   
    .hero-slider-form-area .form-slider{
        top: 5px;
        left: 10px;
        width: 26%;
    }
    .hero-form-section .form-left-side .mb-3{
        margin-bottom: 6px !important;

    }
    .hero-form-section .form-right-side .mb-3{
        margin-bottom: 6px !important;

    }
    .hero-slider-form-area .form-slider .from-wrapper .heading{
        font-size: 15px;
    }
    .where-we-operates-desktop .buy-more .details{
        font-size: 13px;
    }
    .where-we-operates-desktop .toggle-flags .toggle2 .show-more-countries{
        font-size: 13px;
    }
    .popular_used_car-desktop .swiper-button-next, .popular_used_car-desktop .swiper-button-prev{
        display: none;
    }
    .advance-search-calculator .shipping-calculate .btn-reset,
    .advance-search-calculator .shipping-calculate .btn-calculator{
        width: 113px;
        margin-right: 4px;
        font-size: 12px;
    }
    .advance-search-calculator label{
        font-size: 10px;
        padding: 0px 0px;
    }
    .advance-search-calculator .form-check{
        padding-left: 0.1em;
    }
    .advance-search-calculator .shipping-details {
        padding: 18px 0px 0px 15px;
    }
    .could-not-find-car-desktop .could-not-find-car .wrapping .left .details .para,
    .could-not-find-car-desktop .could-not-find-car .wrapping .left .details ol li,
    .used-car-with-sat-desktop .used-car-sat .wrapping .details .para{
        font-size: 18px;
    }
    .feature-car-resources-desktop .feature-car .wrapping .runner-year .listing{
        font-size: 16px;
    }
    .customer-review-desktop .customerReviewSwiper{
        height: 270px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .car-search-details .detail-1 .bottom::after{
        left: 55px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .car-search-details .detail-2 .bottom::after{
        left: 58px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .car-search-details .detail-3 .bottom::after{
        left: 85px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .car-search-details .autoPartsDetailPlug .bottom::after{
        left: 100px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing .price .top{
        font-size: 14px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing .price .bottom{
        font-size: 16px;
    }
    .search-details-desktop .searchDetails .startDetails .right-details .inner .details-pricing .pricing .price .bottom2{
        font-size: 16px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .title{
        font-size: 24px;
        padding: 0px 24px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .para{
        font-size: 16px;
        padding: 15px 24px;
        width: 100%;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .left .appAction{
        padding: 0px 24px;
        width: 335px;
    }
    .selling-recommended-tabs-desktop .sellingRecommendedTabs .exclusive-benefits .inner .detSec .right{
        display: none;
    }
    .advance-search-calculator .list-view .wrappers .center .detail1 .newCarDetails {
        width: 120px;
    }
    .blog-cards-desktop .blogCards .pagination .pager ul li {
        list-style: none;
        margin: 10px 23px;
        padding: 3px;
        font-family: 'Lato';
    }
    .advance-search-calculator .list-view .autopartSearch .top-card-image .stocks{
        font-size: 14px;
    }
    .advance-search-calculator .autopartSearch .wrappers .center .detail1 .more-detail .model-code .priceList .totalRate{
        font-size: 20px;
    }
    .advance-search-calculator .page-count .counts select{
        width: 40%;
    }
    .advance-search-calculator .autopartSearch .wrappers .right .action-buy{
        margin-left: -20px !important;
    }
    .advance-search-calculator .autopartSearch .wrappers .right .countryLoc {
        margin: 0px !important;
    }
    .insurance-services-desktop .insuranceServices .top .heading{
        font-size: 30px;
    }
    .insurance-services-desktop .insuranceServices .top .para{
        font-size: 18px;
    }
    .how-to-pay-desktop .howToPay .right{
        margin: 0px 75px;
    }
    .about_us_page_desktop .aboutUsPage .inner .swiper-button-next, 
    .about_us_page_desktop .aboutUsPage .inner .swiper-button-prev{
        display: none;
    }
    .cart-items-desktop .cartItems .search-parts-badge{
        top: 20px;
    }
}

@media (max-width:991px){
    .desktop2-view{
        display: none !important;
    }
    .tablet2-view{
        display: block ;
    }
    .mobile2-view{
        display: block;
        padding-top: 1px;
    }
    
    footer .footer-wrapper .join-by-mailing .join-mail-ref{
        display: block;
    }
    footer .footer-wrapper .join-by-mailing .join-mail-ref span{
        display: flex;
        justify-content: center;
    }
    .carousel-indicators{
        /* display: none !important; */
        top: 250px;
    }
    .carousel-inner{
        border-radius: 4px !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        display: none !important;
    }
    .hero-slider-form-area .form-slider{
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
    }
    .carousel .carousel-inner .carousel-item img {
        height: unset;
    }
    .popular_used_car-tablet .swiper-button-next, .popular_used_car-tablet .swiper-button-prev{
        display: none;
    }
    .find-my-car-desktop .wrapper .find-car-left .modal-dialog .modal-content{
        right: 15%;
    }
    .hero-slider-form-area .form-slider{
        top: 30px;
    }
    .hero-slider-form-area .form-slider .from-wrapper .container{
        padding:0px;
    }
    .hero-slider-form-area .form-slider .from-wrapper .row{
        padding:0px !important;
    }
    .hero-slider-form-area{
        padding: 0px !important;
    }
    .popular_used_car-mobile .heading .title{
        font-size: 24px;
    }
    .popular_used_car-mobile .heading .view-detail{
        font-size: 14px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items img{
        width: 60px;
        height: 60px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items .brand-title{
        font-size: 16px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items img{
        width: 60px;
        height: 60px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items .brand-title{
        font-size: 16px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .swiper-slide {
        height: 300px;
    }
    .mobile-operate .btn-mobile-show-flags{
        margin: 4% 38% 0% 38%;
    }
    .mobile-operate .mobile-operate-flags .mobile-operate-countries{
        height: 111px;
    }
    .selling-recommended-tabs-mobile .sellingRecommendedTabsMobile .inner .filterCountryMobile .car-card img{
        width: 100%;
    }
    .latest-addition-car-desktop .heading .title{
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #353c4d;
        padding: 0;
    }
    .latest-addition-car-desktop .heading .view-detail{
        font-family: 'Lato';
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        margin-bottom: 0px;
        padding: 0;
    }
    .latest-addition-car-desktop .swiper-button-next, .latest-addition-car-desktop .swiper-button-prev,
    .latest-addition-car-desktop .view-all-selling .view-all{
        display: none;
    }
    .latest-addition-car-desktop .price-area .top .left .price .amount {
        font-size: var(--fs-14);
    }
    .latest-addition-car-desktop .price-area .bottom .sale-car-name{
        font-size: var(--fs-14);
        font-weight: 400;
        white-space: unset;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .latest-addition-car-desktop .price-area .top .right .heart-icon{
        font-size: 15px;
        height: 15px;
        width: 15px;
        cursor: pointer;
        color: #ced0d4;
        margin-right: 3px;
    }
    .latest-addition-car-desktop .latestNewCarSwiper {
        height: 310px;
    }
    .new_car_popular_mobile .new_car_popular_wrapper_mobile .inner .heading .topView{
        display: block;
        font-family: 'Lato';
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
      }
      .latest-addition-car-desktop .heading .topView{
        display: block;
        font-family: 'Lato';
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
      }
      .popular_used_car-mobile .heading .topView{
        display: block;
        font-family: 'Lato';
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
      }
      .new_car_faqs_mobile .newCarFaqsMobile .inner .faqCountryMobile .wraps .heading .topView{
        font-family: 'Lato';
        font-size: 12px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
      }
      .track_order-desktop .trackOrder .trackOrderDetails{
        display: block !important;
      }
      .track_order-desktop .trackOrder .trackOrderDetails .right .orderSummaryDetail{
        width: max-content;
      }
      .track_order-desktop .trackOrder .trackOrderDetails .timeline{
        margin: 0px 10px;
      }
      .track_order-desktop .trackOrder .modal-content{
        width: unset;
        right: 0px;
      }
      .finance_service_desktop .financeService .innerDetail .payInstallment .centeralized .htb-heading .title{
        margin: 0 !important;
        padding: 0px 15px !important;
        font-size: 24px;
        line-height: 30px;
    }
    .finance_service_desktop .financeService .innerDetail .payInstallment .centeralized .htb-heading .para{
        margin: 0 !important;
        padding: 10px 15px !important;
        font-size: 16px;
    }
    .finance_service_desktop .financeService .innerDetail .payInstallment .sat-video-frame iframe{
        width: 100%;
        margin: 0px 12px
    }
    .finance_service_desktop .financeService .innerDetail .payInstallment{
        display: block !important;
    }
    .why_choose_sat_desktop .whyChooseSat .left .imgSec{
        min-height: auto;
    }
    .why_choose_sat_desktop .whyChooseSat .right .imgSec{
        min-height: auto;
    }
    .bidding_form_desktop .biddingForm .left .heading{
        font-size: 18px;
    }
    .bidding_form_desktop .biddingForm .left .status .title{
        font-size: 16px;
    }
    .bidding_form_desktop .biddingForm .left .status .paid{
        font-size: 16px;
    }
    .bidding_form_desktop .biddingForm .rights .heading{
        font-size: 14px;
    }
    .bidding_form_desktop .biddingForm .rights .title{
        font-size: 14px;
    }
    .bidding_form_desktop .biddingForm .rights .details{
        gap: 10px !important;
    }
    .bidding_form_desktop .biddingForm .rights .details .detail .top{
        font-size: 10px;
    }
    .bidding_form_desktop .biddingForm .rights .details .detail .bottom{
        font-size: 10px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .meeting .meetingTime{
        font-size: 12px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .meeting .meetingdate{
        font-size: 12px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .time .timeTitle{
        font-size: 12px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .time .timeClock{
        font-size: 12px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .amount .amountTitle{
        font-size: 12px;
    }
    .bidding_form_desktop .biddingForm .rights .pricing .amount .amountPaid{
        font-size: 12px;
    }
    .payment-failed-desktop .paymentFailed .inner{
        flex-direction: column-reverse;
    }
    .insurance-services-static-desktop .insuranceServices .top{
        padding: 26px 26px;
    }
    .insurance-services-static-desktop .insuranceServices .top .heading{
        font-size: 24px;
    }
    .insurance-services-static-desktop .insuranceServices .top .para{
        font-size: 16px;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .pre-export-cover-main{
        gap: 12px;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .pre-export-crd-hdr{
        font-size: 14px;
    }
    .dash-item-3 .pagination .pagination-new .li-pagination-new{
        margin: 0px;
    }
    .fav-item-3 .pagination-new .li-pagination-new{
        margin: 0px;
    }
    .dash-item-transaction .pagination .pagination-new .li-pagination-new{
        margin: -1px;
    }
   .new-sell-with-sat-desktop .newSellWithSat .tab-pane .tabInner{
    display: block !important;
   }
   .new-sell-with-sat-desktop .newSellWithSat .tab-pane .tabInner .rightImage{
    margin: 32px;
   }
   .sat-supporters-desktop .satSupporters .support-section-1 .title{
    font-size: 26px;
    line-height:40px;
    margin-bottom:0px;
    }
    .sat-supporters-desktop .satSupporters .support-section-1 .para{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    }
    .sat-supporters-desktop .satSupporters .support-section-1 .btn-sign-up{
    max-width: 195px;
    padding-block: 8px;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 22px;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .support-card{
        display: block !important;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .support-card img{
        max-width: 60px;
        max-height: 60px;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .support-card .sub-title{
        font-size: 16px;
        line-height: 19px;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .support-card .sub-para{
        font-size: 16px;
        line-height: 22px;
    }
    .sat-supporters-desktop .satSupporters .marketing-support .main-title{
        margin-bottom: 18px;
        font-size: 20px;
        line-height: 30px;
    }
    .sat-supporters-desktop .satSupporters .marketing-card .title{
        font-size: 17px;
        text-align: center;
    }
    .sat-supporters-desktop .satSupporters .marketing-card .para{
        font-size: 16px;
        margin-bottom: 0px;
        max-width: 406px;
    }
    .sat-supporters-desktop .satSupporters .why-sat-supporter .title{
        font-size: 20px;
        line-height: 20px;
    }
    
    .sat-supporters-desktop .satSupporters .why-sat-supporter .para{
        font-size: 16px;
        line-height: 26px;
    }
    .sat-supporters-desktop .satSupporters .btn-sat-up{
        padding-block: 8px;
        max-width: 213px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width:767px){
    html, body{
        overflow-x: hidden;
        scrollbar-width: none;
    }
    .desktop2-view{
        display: none ;
    }
    .tablet2-view{
        display: none ;
    }
    .top-header{
        display: none;
    }
    .dasktop-footer{
        display: none;
    }
   
    footer .footer-wrapper .join-by-mailing .join-mail-ref{
        display: flex;
    }
    .mobile-footer{
        position:relative;
        display: block; /* show on Mobile version */
    }
    .tablet-view{
        display: none;
    }
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    .hero-form-section .form-left-side{
        width: 100%;
    }
    .hero-form-section .form-right-side{
        width: 100%;
    }
    
    .hero-slider-form-area{
        padding: 0 !important;
    }
    .hero-slider-form-area .container .row{
        padding: 40px 0px !important
    }
    .hero-slider-form-area .container {
        padding: 0 !important;
    }
    .hero-slider-form-area .form-slider .from-wrapper .heading{
        font-size: 16px;
        color: #353c4d;
        font-family: 'Lato';
        font-weight: 600;
        line-height: 20px;
    }
    .hero-slider-form-area .form-slider .from-wrapper .stock-inhand{
        height: 35px;
        border-radius: 4px;
    }
    .carousel-indicators {
        display: flex !important;
        top: unset;
        bottom: -41px !important;
    }
    .row.carousel-start{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }
    .hero-slider-form-area .form-slider .from-wrapper .advance-search p{
        font-size: 16px;
    }
    .top-selling-car-desktop{
        padding-top: 50px;
    }
    /* .top-selling-car-desktop .container {
        margin: 0px 0px !important;
    } */
    .top-selling-car-desktop .top-selling img {
        width: 134px;
        height: 92px;
    }
    .top-selling-car-desktop .swiper-slide {
        width: 134px !important;
    }
    .top-selling-car-desktop .swiper-button-next, .top-selling-car-desktop .swiper-button-prev{
        display: none;
    }
    .top-selling-car-desktop .price-area .top .left .price .amount {
        font-size: var(--fs-16);
    }
    .top-selling-car-desktop .price-area .top .right .heart-icon {
        font-size: 16px;
        height: 20px;
        width: 26px;
    }
    .top-selling-car-desktop .price-area {
        padding: 6px 0px 0px 10px !important;
        width: 150px;
    }
    .top-selling-car-desktop .price-area .bottom .sale-car-name {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0px;
        max-width: 134px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .top-selling-car-desktop .price-area .bottom .sale-car-average{
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
    }
    .top-selling-car-desktop .sellingCarSwiper {
        height: 210px;
    }
    .top-selling-car-desktop .swiper-slide {
        height: unset;
    }
    .top-selling-car-desktop .swiper-backface-hidden .swiper-slide:hover{
        background-color: transparent;
    }
    .top-selling-car-desktop .heading .title{
        font-size: 16px;
        padding: 0px 0px 15px 0px !important;
        color: #353c4d;
    }
    .top-selling-car-desktop .heading .view-detail{
        font-family: 'Lato';
        font-size: 14px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        padding: 5px 0px 0px 0px;
    }
    .top-selling-car-desktop .swiper-pagination{
        display: none;
    }
    .top-selling-car-desktop .view-all-selling{
        display: none;
    }
    /* .recomended-car-desktop .container{
        margin: 0px !important;
    } */
    .recomended-car-desktop .heading .title{
        font-size: 16px;
        padding: 0px 0px 15px 0px !important;
        color: #353c4d;
    }
    .recomended-car-desktop .heading .view-detail {
        font-family: 'Lato';
        font-size: 14px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        padding: 5px 0px 0px 0px;
    }

    .recomended-car-desktop .top-selling img {
        width: 134px;
        height: 92px;
    }
    .recomended-car-desktop .swiper{
        height: unset;
    }
    .recomended-car-desktop .swiper-slide {
        width: 134px !important;
    }
    .recomended-car-desktop .swiper-button-next, .recomended-car-desktop .swiper-button-prev{
        display: none;
    }
    .recomended-car-desktop .price-area .top .left .price .amount {
        font-size: var(--fs-16);
    }
    .recomended-car-desktop .price-area .top .right .heart-icon {
        font-size: 16px;
        height: 20px;
        width: 26px;
    }
    .recomended-car-desktop .price-area {
        padding: 6px 0px 0px 10px !important;
        width: 150px;
    }
    .recomended-car-desktop .price-area .bottom .sale-car-name {
        font-family: 'Lato';
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0px;
        max-width: 134px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .recomended-car-desktop .price-area .bottom .sale-car-average{
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
    }
    .recomended-car-desktop .sellingCarSwiper {
        height: 210px;
    }
    .recomended-car-desktop .swiper-slide {
        height: unset;
    }
    .recomended-car-desktop .swiper-backface-hidden .swiper-slide:hover{
        background-color: transparent;
    }
    .recomended-car-desktop .heading .title{
        font-size: 16px;
    }
    .recomended-car-desktop .swiper-pagination{
        display: none;
    }
    .recomended-car-desktop .view-all-recomended {
        display: none;
    }
    .recomended-car-desktop .recomended-car img{
        width: 134px;
        height: 92px;
    }
    .early-budget-desktop{
        padding: 15px 0px 0px 0px !important;
    }
    .early-budget-desktop .heading{
        padding-bottom: 0px !important;
    }
    .early-budget-desktop .heading .title{
        font-size: 16px;
        padding-top: 20px;
        color: #353c4d;
    }
    .early-budget-desktop .heading .view-detail {
        font-family: 'Lato';
        font-size: 14px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        padding: 10px 0px 0px 0px;
    }
    .early-budget-desktop .nav-tabs .nav-item a {
        padding: 2px 0px;
        margin-right: 15px !important;
        font-size: 12px;
        font-weight: 600;
    }
    .early-budget-desktop .recomended-car img {
        width: 134px;
        height: 92px;
    }
    .early-budget-desktop .swiper-slide {
        width: 134px !important;
    }
    .early-budget-desktop .price-area {
        padding: 6px 0px 0px 10px !important;
        width: 150px;
    }
    .early-budget-desktop .price-area .top .left .price .amount{
        font-size: 16px;
    }
    .early-budget-desktop .price-area .top .right .heart-icon{
        font-size: 16px;
        height: 20px;
        width: 26px;
    }
    .early-budget-desktop .price-area .bottom .sale-car-name{
        font-family: 'Lato';
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 0px;
        max-width: 134px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .early-budget-desktop .price-area .bottom .sale-car-average{
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
    }
    .early-budget-desktop .swiper {
        height: 210px;
    }
    .early-budget-desktop .swiper-button-next, .early-budget-desktop .swiper-button-prev{
        display: none;
    }
    .early-budget-desktop .swiper-pagination{
        display: none;
    }
    .early-budget-desktop .swiper-slide{
        height: unset;
    }
    .early-budget-desktop .swiper-backface-hidden .swiper-slide:hover{
        background-color: transparent;
    }
    .early-budget-desktop .view-all-earlyBudget {
        display: none;
    }
    .early-budget-desktop .tab-content{
        padding: 0 !important;
        margin: 0 !important;
    }
    .compare-car-desktop .swiper-slide{
        width: 290px !important;
    }
    .compare-car-desktop .compare-car .car-comprison-img1{
        width: 135px;
        left: 0px;
        padding: 15px;
    }
    .compare-car-desktop .compare-car .car-comprison-img2{
        width: 135px;
        right: 0px;
        padding: 15px;
    }
    .compare-car-desktop .compare-car{
        height: 140px;
    }
    .compare-car-desktop .car-compare-icon img{
        top: 28%;
    }
    .compare-car-desktop .heading .title{
        font-size: 16px;
        padding: 0 !important;
        margin: 15px 0px 20px 0px !important;
    }
    .compare-car-desktop .heading .view-all{
        font-family: 'Lato';
        font-size: 14px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        padding: 10px 0px 0px 0px;
    }
    /* .compare-car-desktop .container{
        padding: 0px 20px !important;
        margin: 0px !important;
    } */
    .compare-car-desktop .view-all-comparison .view-all{
        display: none;
    }
    .compare-car-desktop .swiper-button-next, .compare-car-desktop .swiper-button-prev{
        display: none;
    }
    /* .promotion-web-1 .container{
        margin: 0px !important;
    } */
    .need_help-desktop .wrapper .heading {
        font-family: "Sofia-Pro";
        font-size: var(--fs-16);
        font-weight: 700;
        color: #353c4d;
    }

    .popular_used_car-mobile .heading .title{
        font-size: 16px;
        font-family: 'Sofia-Pro';
        padding-bottom: 10px;
    }
    .popular_used_car-mobile .heading .view-detail{
        font-size: 14px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items img{
        width: 32px;
        height: 32px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items .brand-title{
        font-size: 14px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items img{
        width: 32px;
        height: 32px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items .brand-title{
        font-size: 14px;
    }
    .popular_used_car-mobile .popularBrandSwiperMobile .swiper-slide {
        height: 254px;
    }
    .mobile-operate .btn-mobile-show-flags {
        margin: 2% 30%;
    }
    .mobile-operate .heading .title{
        font-size: var(--fs-16);
    }
    .mobile-operate .mobile-operate-flags .mobile-operate-countries{
        height: 76px;
    }
    .carousel-indicators [data-bs-target] {
        width: 4px !important;
        height: 4px !important;
    }
    .carousel-indicators .active {
        width: 10px !important;
        height: 5px !important;
    }
    .headerSearch .search-form{
        margin: 0%;
    }
    .similar-car-desktop .top-selling img{
        width: 135px;
        height: 92px;
        margin: 0px;
       border-radius: 0px;
    }
    .similar-car-desktop .price-area .top .left .price .amount{
        font-size: 14px;
    }
    .similar-car-desktop .price-area .bottom .sale-car-name,
    .similar-car-desktop .price-area .bottom .sale-car-average{
        font-size: 12px;
    }
    .similar-car-desktop .swiper-slide .car-spec{
        display: none !important;
        /* padding: 0px 7px !important;
        width: max-content; */
    }
    .similar-car-desktop .car-spec .pc{
        margin: 3px 0px !important;
    }
    .similar-car-desktop .swiper-slide{
        height: 188px;
        width: 135px !important;
        border-radius: 0px;
    }
    .similar-car-desktop .top-selling {
        padding: 0px;
    }
    .similar-car-desktop .price-area {
        padding: 4px !important;
    }
    .similar-car-desktop .swiper-button-next, .similar-car-desktop .swiper-button-prev{
        display: none;
    }
    .similar-car-desktop .swiper-slide,
    .similar-car-desktop .swiper-backface-hidden .swiper-slide:hover {
        background-color: transparent;
    }
    .similar-car-desktop .price-area .top .right .heart-icon{
        height: 18px;
        width: 15px;
        font-size: 16px;
    }
    .similar-car-desktop .view-detail{
        font-family: 'Lato';
        font-size: 14px;
        align-self: center;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: -0.01em;
        color: #1c6a9b;
        padding: 15px 0px 0px 0px;
    }
    .similar-car-desktop .container{
        padding: 0;
    }
    .similar-car-desktop .swiper-wrapper{
        padding: 0px 15px;
    }
    .latest-addition-car-desktop .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
        display: none;
    }
    .latest-addition-car-desktop .latestNewCarSwiper {
        height: 215px !important;
    }
    .blog-cards-desktop .blogCards .pagination{
        display: block;
    }
    .blog-cards-desktop .blogCards .pagination .pager {
        display: flex;
        justify-content: center;
    }
    .blog-cards-desktop .blogCards .pagination .pager ul li {
        list-style: none;
        margin: 10px 14px !important;
        padding: 2px !important;
        font-family: 'Lato';
        font-size: 12px;
    }
    .blog-cards-desktop .blogCards .pagination .noOfPage {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato';
        margin-bottom: 20px;
    }
    .blog-cards-desktop .blogCards .pagination .noOfPage p{
        font-size: 14px;
    }
    .blog-cards-desktop .blogCards .blog-cards-section .inner .card{
    margin-bottom: 15px;
    }
    .track_order-desktop .trackOrder .helpCard .helpUsGrow .heading{
        font-size: 18px;
    }
    .track_order-desktop .trackOrder .helpCard .helpUsGrow .para{
        font-size: 14px;
    }
    .track_order-desktop .trackOrder .helpCard .helpUsGrow .btn-giveUp{
        font-size: 12px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .left .heading{
        font-size: 18px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .left .timeline-items h2{
        font-size: 12px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .left .timeline-items p{
        font-size: 14px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .right .orderSummaryDetail .totalPrice .price .text{
        font-size: 12px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .right .orderSummaryDetail .totalPrice .price .amount{
        font-size: 14px;
        padding-right: 0px;
    }
    .track_order-desktop .trackOrder .trackOrderDetails .right .orderSummaryDetail .totalPrice .deliveryItem .top{
        font-size: 12px;
    }
    .track_order-desktop .trackOrder .haveAQuestion .heading{
        font-size: 16px;
    }
    .track_order-desktop .trackOrder .haveAQuestion .para{
        font-size: 14px;
        line-height: 24px;
    }
    .carrier_service_policy_desktop .carrierService .innerDetails .deliveryOption{
        display: block !important;
    }
    .carrier_service_policy_desktop .carrierService .innerDetails .deliveryOption .left{
        height: unset;
    }
    .carrier_service_policy_desktop .carrierService .innerDetails .deliveryOption .right{
        height: unset;
    }
    .insurance-services-static-desktop .insuranceServices .top{
        flex-direction: column-reverse;
    }
    .insurance-services-static-desktop .insuranceServices .innerDetails .insurance-cover-cards{
        display: block;
    }
    .insurance-services-static-desktop .insuranceServices .innerDetails .insurance-cover-cards .automobile-insurance-card{
        width: 100%;
        margin-bottom:10px;
    }
    .insurance-services-static-desktop .insuranceServices .accordion-button {
        font-size: var(--fs-16);
    }
    .insurance-services-static-desktop .insuranceServices .accordion-body p {
        font-size: var(--fs-16);
    }
    .how-to-pay-mobile .howToPayMobile .right .bank-info-top-comp{
        width: 50%;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .pre-export-cover-main{
        display: block;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .pre-card-cover{
        width: 100%;
        margin-bottom: 10px;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .voucher-download{
        display: block;
    }
    .pre-export-insurance-desktop .preExportInsurance .innerDetails .voucher-download .copy{
        border-radius: 8px 8px 0px 0px;
    }
    .grid-danshboard .dash-item-1{
        display: none;
    }
    .grid-danshboard {
        grid-template-columns: unset;
    }
    .dash-item-3 .error-img {
        height: unset;
    }
    .dash-item-transaction .user-dash-board-top-sub-hdr {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }
    .dashboard-my-ads-edit .myAdsEdit .car-show .car-place .head{
        font-size: 24px;
    }
    .dashboard-my-ads-edit .myAdsEdit .sellwithsat-heading{
        font-size: 18px;
    }
    .dashboard-my-ads-edit .myAdsEdit .para-sell{
        font-size: 16px;
    }
    .dashboard-my-ads-edit .myAdsEdit label.sell-label{
        font-size: 16px;
    }
    .dashboard-my-ads-edit .myAdsEdit .upload-images .text{
        display: block;
    }
    .list-sat-desktop .listSat .card-detail-sell{
        display: block;
    }
    .list-sat-desktop .listSat .card-detail-sell .item-del-sell{
        padding: 10px 0px;
    }
    .sat-pro-member-reson-desktop .satProMemberReason .end-member-list-select span{
        font-size: 16px;
    }
    .sat-pro-mobile-member-desktop .satProMobileMember .memb-para-title, 
    .sat-pro-mobile-member-desktop .satProMobileMember .sat-pro-member-sec .hed{
        font-size: 14px;
    }
    .sat-pro-mobile-member-desktop .satProMobileMember .head-memeber{
        font-size: 16px;
    }
    .sat-pro-mobile-member-desktop .satProMobileMember .sat-pro-member-sec .para{
        font-size: 14px;
    }
    .sat-pro-payment .satProPayment{
        height: unset;
    }
    .sat-supporters-desktop .satSupporters .become-sat-support .support-card{
        display: flex !important;
    }
}

