/* ===================================== Media Query ===================================== */
@media(max-width:1399px){
    .carousel-control-next-icon, .carousel-control-prev-icon{
        top: 400px;
    }
    .carousel-indicators{
        top: 410px;
    }
    .top-selling-car-desktop .swiper-slide{
        width: 262px;
    }
    .top-selling-car-desktop .top-selling img {
        /* width: 239px; */
        height: 179.25px;
    }
    .recomended-car-desktop .recomended-car img {
        width: 255px;
        height: 213px;
    }
    .early-budget-desktop .recomended-car img {
        width: 245px;
        height: 213px;
    }
}

@media (max-width:1180px){
    footer .footer-wrapper .join-by-mailing .join-mail-ref{
        display: block;
    }
    footer .footer-wrapper .join-by-mailing .join-mail-ref span{
        display: flex;
        justify-content: center;
    }
    .carousel-indicators{
        display: none !important;
    }
    .carousel-inner{
        border-radius: 4px !important;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        display: none !important;
    }
    .hero-slider-form-area .form-slider{
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
    }
    .carousel .carousel-inner .carousel-item img {
        height: unset;
    }
    
}
@media(max-width:1199px){
    .navbar .searchBar{
        width: 190px !important;
    }
    .headerSearch .search-form .input-group{
        width:100%;
    }
    .headerSearch .search-form .input-group{
        margin: 0;
    }
    .mega-menu-section .navbar .navbar-nav .nav-item .nav-link{
        margin: 0;
    }
    .tablet-view{
        display: block;
    }
    .desktop-view{
        display: none;
    }
  
}
@media (max-width:767px){
    .top-header{
        display: none;
    }
    .dasktop-footer{
        display: none;
    }
    footer .footer-wrapper .join-by-mailing .join-mail-ref{
        display: flex;
    }
    .mobile-footer{
        position:relative;
        display: block; /* show on Mobile version */
    }
    .tablet-view{
        display: none;
    }
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    .hero-form-section .form-left-side{
        width: 100%;
    }
    .hero-form-section .form-right-side{
        width: 100%;
    }
    
}

