:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
    --lavender-mist:#EDEDF1;
    --ghost-white: #F6F6F8;
    --charcoal-blue:#2F2B4333;
    --cool-gray: #858A94;



    /* fonts-variable */
    --fs-16: 1rem;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
}

@font-face {
    font-family: "Sofia-Pro";
    src: url('../fonts/SofiaProSemiBoldAz.otf') format('opentype');
    font-weight: 600; /* Semi-bold weight, adjust if needed */
    font-style: normal;
    font-display: swap; /* Ensures text is visible during font load */
    unicode-range: U+0000-00FF; /* Define supported character ranges to limit font loading */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.fa-chevron-right{
    font-size: var(--fs-10);
}
.mobile-view .headerSearch .offcanvas.offcanvas-start{
    border-right:none !important;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .mobile-offcanvas-heading{
    left: 40%;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .btn-close {
    width: 24px;
    height: 24px;
    font-size: 12px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .mobile-find-car-nested{
    left: 120px;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas a{
    text-decoration: none;
    color: var(--rich-black);
    font-size: var(--fs-14);
    font-family: 'Lato';
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency{
    font-size: var(--fs-12);
    color: var(--rich-black);
    font-family: 'Lato-semibold';
}
.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select{
    width: 78px;
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    background-color: var(--ghost-white);
    border-radius: 4px;
    border: 1px solid var(--charcoal-blue);
    background-position: right 2px center;
    
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select option[selected] {
    color: var(--cool-gray);
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select option {
    color: var(--rich-black); 
}


.mobile-view .headerSearch .search-form .input-group .input-group-text{
    background-color: var(--light-lavender);
}


/* ===================================== Start How to Buy Css ===================================== */
.how-to-buy-mobile{
    position:relative;
}
.how-to-buy-mobile .left .title{
    font-family: 'Sofia-Pro';
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.how-to-buy-mobile .left ul li span{
    font-family: 'Lato';
    font-size: var(--fs-16);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #5d6370;
}
.how-to-buy-mobile .right .title{
    font-family: 'Lato';
    font-size: var(--fs-14);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #1c6a9b;
}
.how-to-buy-mobile .right img{
    height: 190px;
}
/* ===================================== End How to Buy Css ===================================== */


/* ===================================== Start Where We Operat Css ===================================== */
.mobile-operate{
    position: relative;
}
.mobile-operate .heading .title{
    font-family: 'Sofia-Pro';
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.mobile-operate .mobile-operate-flags .mobile-operate-countries{
    border: none;
    border-radius: 10px;
    background-color: #f7fbfb;
    padding: 10px 0px;
}
.mobile-operate .mobile-operate-flags .mobile-operate-countries img{
    height: 32px;
}
.mobile-operate .mobile-operate-flags .mobile-operate-countries span{
    font-family: 'Lato';
    font-size: var(--fs-14);
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #353c4d;
}

.mobile-operate .btn-mobile-show-flags{
    font-family: 'Lato';
    border: 1px solid #1c6a9b;
    font-size: var(--fs-16);
    color: #1c6a9b;
    letter-spacing: -0.01em;
    border-radius: 4px;
    line-height: 16px;
    font-weight: 700;
    height: 40px;
    width: max-content;
    margin: 2% 30%;
}

.mobile-operate .offcanvas-body .mobile-show-wrapper{
    border: 1px solid #dcdae2;
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}
.mobile-operate .offcanvas-body .mobile-show-wrapper img{
    height: 18px;
}
.mobile-operate .offcanvas-body .mobile-show-wrapper span{
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #5d6370;
}
.mobile-operate .offcanvas{
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    height: 84vh !important;
}
.mobile-operate .offcanvas .offcanvas-header{
    margin: 0;
    padding: 15px 15px 0px 15px;
}
.mobile-operate .offcanvas .offcanvas-title{
    font-family: 'Lato';
    font-size: var(--fs-14);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
    margin-bottom: 0px;
}
/* ===================================== End Where We Operat Css ===================================== */

/* ===================================== Start Best Seller By Type Css ===================================== */
.best-seller-by-type-mobile{
    position: relative;
}
.best-seller-by-type-mobile .mobile-best-seller-area .heading .title{
    font-family: 'Sofia-Pro';
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.best-seller-by-type-mobile .mobile-best-seller-area .heading .view-all{
    font-family: 'Lato';
    font-size: var(--fs-14);
    align-self: center;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #1c6a9b;
}
.best-seller-by-type-mobile .mobile-best-seller-area img{
    margin: 0% 18%;
    height: 162px;
}

.best-seller-by-type-mobile .product-card img{
    width: 42px;
    height: 32px;
}
.best-seller-by-type-mobile .product-card .heading{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
    margin: 6px 2px;
}
.best-seller-by-type-mobile .product-card ul li a{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color: #1c6a9b;
    white-space: nowrap;
    width: 90px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ===================================== End Best Seller By Type Css ===================================== */

/* ===================================== Start By Decision Css ===================================== */
.by-decision-mobile{
    position: relative;
}
.by-decision-mobile .mobile-by-decision-area .heading .title{
    font-family: 'Sofia-Pro';
    font-size: var(--fs-16);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.by-decision-mobile .mobile-by-decision-area .heading .view-all{
    font-family: 'Lato';
    font-size: var(--fs-14);
    align-self: center;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #1c6a9b;
}
.by-decision-mobile .mobile-by-decision-area .right-side .title{
    margin-bottom: 0px;
    font-family: 'Lato';
    font-size: var(--fs-14);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.by-decision-mobile .mobile-by-decision-area .right-side .posted_by{
    margin-bottom: 4px;
    margin-top: 8px;
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -0.01em;
    color: #353c4d;
}

/* ===================================== End By Decision Css ===================================== */

/* ===================================== Start Web promotion Css ===================================== */
.web-promotion3-mobile{
    position:relative;
}
.web-promotion3-mobile .wrapper{
    background: #f4f5ee;
    padding: 30px 30px;
}
.web-promotion3-mobile .wrapper .heading .title{
    font-family: 'Lato';
    font-size: 19px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #0c1529;
}

.web-promotion3-mobile .wrapper .mobile-app-ref .app-logo{
    height: 31px;
}
.web-promotion3-mobile .wrapper .mobile-app-ref .google-logo{
    height: 31px;
}
.web-promotion3-mobile .wrapper .mobile-app-ref .qr-scan{
    height: 51px;
}
/* ===================================== End Web promotion Css ===================================== */



/* ===================================== Start Mobile View Footer Css ===================================== */
.mobile-view{
    position:relative;
    display: none; /* not show on desktop version */
}
.mobile-view .mobile-footer-wrapper{
    background-color: var(--primary-color);
}
.mobile-view .mobile-footer-wrapper .mobile-footer-top{
    display: flex;
    justify-content: space-between;
}
.mobile-view .mobile-footer-wrapper .footer-logo img{
    width: 115px;
    height: 42px;
}
.mobile-view .mobile-footer-wrapper .social-links{
    position:relative;
}
.mobile-view .mobile-footer-wrapper .social-links .heading{
    font-family: 'Lato-semibold';
    font-size: 0.8rem;
    color: var(--white-color);
    line-height: 20px;

}
.mobile-view .mobile-footer-wrapper .social-links .social-links-ref a{
   text-decoration: none;
}
.mobile-view .mobile-footer-wrapper .social-links img{
    width: 24px;
    height: 24px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact{
    display: flex;
    justify-content: space-between;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a{
    display: flex;
    align-items: center;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a p{
    margin: 0;
    color: var(--white-color);
    font-size: 13px;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a p{
    margin: 0;
    color: var(--white-color);
    font-size: 13px;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address{
    display: flex;
    color: var(--white-color);
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address p{
    font-size: 13px;
    margin: 0;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates{
    position:relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .heading{
    font-family: 'Lato-semibold';
    color:var(--white-color);
    font-size: 14px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .send-feedback{
   position: relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .send-feedback .btn-sendfeedback{
    background-color: var(--skin-color);
    color: var(--Eigengrau);
    font-size: 14px;
    padding: 12px 15px;
    font-family: 'Lato-semibold';
    line-height: 18px;
    cursor: pointer;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-download{
    position: relative;
    display: flex;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-download img{
    width: 109.5px;
    height: 36.6px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail .footer-mail-input{
    font-family: 'Lato-semibold';
    font-size: 0.9rem;
    padding:10px 20px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail .btn-subscribe{
    background-color: var(--custome-color);
    font-size: 14px;
    font-family: 'Lato-semibold';
    cursor: pointer;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item{
    background-color: var(--primary-color);
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button.collapsed{
    background-color: var(--primary-color);
    font-family: 'Lato-semibold';
    font-size: 13px;
    padding: 12px 0px;
    border: 1px solid #FFFFFF4D;
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button{
    background-color: var(--primary-color);
    font-family: 'Lato-semibold';
    font-size: 13px;
    padding: 12px 0px;
    border: 1px solid var(--white-color);
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button img{
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
} 
.mobile-view .accordion-button::after {
    background-image: url('../images/down-chevron.webp') !important; 
    background-size: 11px 8px !important;
    position: relative;
    top: 5px;
}
.mobile-view .accordion-button:not(.collapsed)::after {
    position: relative;
    top: -5px;
    left: -10px;
}

.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-body ul li{
    font-size: 14px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-copyright{
    position: relative;
    background: var(--dark-primary);
    padding: 15px 0px 2px 0px;
    font-family: 'Lato-semibold';
    line-height: 16px;
    font-size: 14px;
    border: 1px solid #AEB1B8;
}

/* ===================================== End  Mobile View Footer Css ===================================== */

/* ===================================== Start Mobile Popular Car Section Css ===================================== */
.popular_used_car-mobile .popularBrandSwiperMobile .swiper-button-next, 
.popular_used_car-mobile .popularBrandSwiperMobile .swiper-button-prev{
    display: none;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand{
    padding: 10px 25px 1px 25px;
    border: none;
    border-radius: 10px;
    background-color: #f7fbfb;
    border-right: 6px solid white;
    margin-bottom: 14px;
}
.popular_used_car-mobile .heading .title{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.popular_used_car-mobile .heading .view-detail{
    font-family: 'Lato';
    font-size: 12px;
    align-self: center;
    font-weight: 700;
    line-height: 16px;
    color: #1c6a9b;
}
.popular_used_car-mobile .popularBrandSwiperMobile .swiper-slide{
    height: 215px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box {
    width: 100%;
    margin: 0px 0px 0px 10px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items img{
    width: 32px;
    height: 32px;
    margin: 0px 8px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .top-brand .items .brand-title{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand{
    padding: 10px 25px 1px 25px;
    border: none;
    border-radius: 10px;
    background-color: #f7fbfb;
    border-right: 6px solid white;
    margin-bottom: 14px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items img{
    width: 32px;
    height: 32px;
    margin: 0px 8px;
}
.popular_used_car-mobile .popularBrandSwiperMobile .box .bottom-brand .items .brand-title{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}
/* ===================================== End Mobile Popular Car Section Css ===================================== */

/* ===================================== Start Customer Review Section Css ===================================== */
.customer-review-mobile .heading .title{
    font-family: 'Sofia-Pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #353c4d;
}
.customer-review-mobile .heading .view-all{
    font-family: 'Lato';
    font-size: 14px;
    align-self: center;
    font-weight: 700;
    line-height: 16px;
    color: #1c6a9b;
}


.customer-review-mobile .customerReviewSwiperMobile{
    margin: 0px 15px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide{
    width: 292.5px !important;
    height: 210px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box{
    border-radius: 6px;
    border: 1px solid #2f2b4333;
    width: 283.15px;
    height: 154.25px;
    margin: 16px 0 16px 0;
    padding: 6px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-left .review-image img{
    width: 91px;
    height: 53px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-left .review-image .customer-review-mobile img{
    width: 24px;
    height: 24px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-left .review-image .customer-review-mobile .list-des{
    align-self: center;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #1c6a9b;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-left .review-image .review-starts .stars-mobile .fa-star{
    font-size: 8px;
    color: #ffbd12;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-left .review-image .review-starts .stars-mobile .start-person{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: -0.01em;
    color: #000000;
}

.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .top-right img{
    width: 21px;
    height: 15px;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .posted_by .title{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    color: #353c4d;
}
.customer-review-mobile .customerReviewSwiperMobile .swiper-slide .review-box .posted_by .para{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    color: #353c4d;
}
/* ===================================== End Customer Review Section Css ===================================== */


/* ===================================== Start Find My Car Section Css ===================================== */
.find-my-car-mobile .wrapper {
    background-image: url(../images/find_car/find-my-car-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 10px;
    border-radius: 20px;
}
.find-my-car-mobile .wrapper .find-car-area{
    height: 144px;
}
.find-my-car-mobile .wrapper .find-car-left .heading .title{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 6px;
    line-height: 24px;
}
.find-my-car-mobile .wrapper .find-car-left .desc .para{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    color: #353C4D;
    line-height: 14px;
}
.find-my-car-mobile .wrapper .find-car-left .find-car-action .btn-find-car{
    background: #2384C1;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    line-height: 16px;
}

.find-my-car-mobile .wrapper .find-car-right .detail-buttons .budget-action .btn-budget{
    font-size: 12px;
    color: #858A94;
    border: 1px solid #858A94;
    padding: 4px 12px;
    margin: 5px 0px 0px 10px;
    border-radius: 50px;
    font-weight: 700;
}
.find-my-car-mobile .wrapper .find-car-right .detail-buttons .brand-action .btn-brand{
    font-size: 12px;
    color: #858A94;
    border: 1px solid #858A94;
    padding: 4px 16px;
    margin: 5px 0px 0px 10px;
    border-radius: 50px;
    font-weight: 700;
}
.find-my-car-mobile .wrapper .find-car-right .detail-buttons .feature-action .btn-feature{
    font-size: 12px;
    color: #858A94;
    border: 1px solid #858A94;
    padding: 4px 10px;
    margin: 5px 0px 0px 10px;
    border-radius: 50px;
    font-weight: 700;
}
.find-my-car-mobile .wrapper .find-car-right .detail-buttons .mileage-action .btn-mileage{
    font-size: 12px;
    color: #858A94;
    border: 1px solid #858A94;
    padding: 4px 12px;
    margin: 5px 0px 0px 10px;
    border-radius: 50px;
    font-weight: 700;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content{
    width: 360px;
    position: relative;
    right: 8px;
    height: 800px;
}
/* .find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container .progress {
    margin: 0px 150px;
} */

.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container .step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
    /* margin: 0px 150px; */
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container .progress {
    --bs-progress-bar-bg: #0368a0;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container .step-container .step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0368A0;
    border: 2px solid #0368A0;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content .modal-title{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato';
    line-height: 20px;
} 
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-1 .title{
    font-size: 16px;
    font-weight: 600;
    color: #0C1529;
    font-family: 'Lato';
} 
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .radio-buttons{
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .radio-buttons .radio-btn .btn-text{
    color: #475569;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato';
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-1 .next-step-form1{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F8;
    width: 100%;
    left: 0;
    padding: 15px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-2 .next-step-form2{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F8;
    width: 100%;
    left: 0;
    padding: 15px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-3 .next-step-form3{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F6F8;
    width: 100%;
    left: 0;
    padding: 15px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-1 .next-step-form1 .catch-value p{
    color: #5D6370;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato';
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-2 .next-step-form2 .catch-value p{
    color: #5D6370;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato';
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-3 .next-step-form3 .catch-value p{
    color: #5D6370;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Lato';
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-1 .next-step-form1 .btn-next-step{
    background: #0368a0;
    color: white;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 32px;
    border-radius: 4px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form  .next-step-form2 .btn-next-step{
    background: #0368a0;
    color: white;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 4px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form  .next-step-form3 .btn-success{
    background: #0368a0;
    color: white;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    padding: 8px 22px;
    border-radius: 4px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form  .next-step-form2 .btn-prev-step{
    background: transparent;
    color: #5D6370;
    border: 1px solid #5D6370;
    border-radius: 4px;
    padding: 8px 22px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form  .next-step-form3 .btn-prev-step{
    background: transparent;
    color: #5D6370;
    border: 1px solid #5D6370;
    border-radius: 4px;
    padding: 8px 22px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-2 .title{
    font-size: 16px;
    font-weight: 600;
    color: #0C1529;
    font-family: 'Lato';
} 
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #multi-step-form .step-3 .title{
    font-size: 16px;
    font-weight: 600;
    color: #0C1529;
    font-family: 'Lato';
} 

.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container #multi-step-form .select-car-find-wrapper .select-car-find {
    border: 1px solid #CAC8D4;
    border-radius: 10px;
    width: 101px;
    height: 78px;
    cursor: pointer;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container #multi-step-form .select-car-find-wrapper .select-car-find .car-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container #multi-step-form .select-car-find-wrapper .select-car-find img {
    width: 46px;
    height: 32px;
}
.find-my-car-mobile .wrapper .find-car-left .modal-dialog .modal-content #container #multi-step-form .select-car-find-wrapper .select-car-find p {
    color: #7A7493;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 5px 0px 0px 0px;
}

.find-my-car-mobile .select-car-find label {
    display: inline-block;
    cursor: pointer;
    /* transition: all 0.3s ease; */
    padding: 10px 0px;
}
.find-my-car-mobile .select-car-find label:hover {
    background-color: rgb(204 238 255);
    width: 88px;
    height: 76px;
    border-radius: 10px;
    border: 1px solid rgb(3 104 160 / 32%);
}
.find-my-car-mobile .select-car-find label p:hover{
    color: rgb(3 104 160 / 32%);
}
.find-my-car-mobile .car-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.find-my-car-mobile .car-checkbox:checked + label {
    background-color: rgb(204 238 255);
    width: 100px;
    height: 76px;
    border-radius: 10px;
    border: 1px solid rgb(3 104 160 / 32%);
    position: relative;
    left: -1px;
}
.find-my-car-mobile .car-checkbox:checked + label p {
    color: rgb(3, 104, 160) !important;
}


.find-my-car-mobile .radio-btn input[type="radio"]:checked + .btn-text {
    background-color: #0368a0;
    color: white !important;
    border-color: #0368a0;
    line-height: 37px;
    border-radius: 50px;
}


/* Hide the checkboxes */
.flag-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none; /* Prevent interaction with the hidden checkbox */
}
.find-my-car-mobile .find-car-search-country .country label{
    width: 100% !important;
    margin: 10px 0px;
    background-color: #F1F5F9;
}

/* Styling for the checkbox label when it's selected */
.flag-checkbox:checked + label {
    background-color: rgb(204 238 255);
    width: 100%;
    /* border: 1px solid rgb(204 238 255); */
}

/* Add any other label styling as needed */
.country-list label {
    display: inline-block;
    cursor: pointer;
    padding: 7px 0px;
    display: flex;
}

.country-list label:hover {
    background-color: rgb(204 238 255); 
    width: 100%;
}
/* ===================================== End Find My Car Section Css ===================================== */


/* ===================================== Start Mobile Advance Search Page Css ===================================== */
.mobile-view .advance-search-calculator-mobile .accordion .accordion-button{
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 500;
    color: #353c4d;
    height: 40px;
    background-color: #ecf5ff;
    border-radius: 4px;
    padding: 10px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-button::after{
    filter: invert(1);
    font-size: var(--fs-12);
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .price-text{
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #858a94;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .areaSelection .dest-country label{
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #5d6370;
    padding: 0px;
    padding-bottom: 6px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .areaSelection .dest-country select{
    background-color: #f6f6f8;
    height: 31px;
    border-radius: 4px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 500;
    color: #5d6370;
    border: 1px solid #858a9478;
    background-size: 16px 9px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .areaSelection .dest-port label{
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #5d6370;
    padding: 0px;
    padding-bottom: 6px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .areaSelection .dest-port select{
    background-color: #f6f6f8;
    height: 31px;
    border-radius: 4px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 500;
    color: #5d6370;
    border: 1px solid #858a9478;
    background-size: 16px 9px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top{
    font-size: 12px;
    font-family: 'Lato';
    color: #000000;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .fa-info-circle{
    color: #dcdae2;
    font-size:14px;
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button {
    margin: 0 5px 0 0;
    width: 100%;
    position: relative;
    background-color: #f6f6f8;
    color: #aeb1b8;
    border: 1px solid #ededf1;
    height: 31px;
    border-radius: 6px;
  }

  
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button label,
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button input[type="radio"]:checked + label {
    background: #2a9fe8;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    font-family: 'Lato';
  }
  
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Lato';
    background-color: #f6f6f8;
    color: #aeb1b8;
    border: 1px solid #ededf1;
  }
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck {
    display: flex;
    justify-content: space-between;
    gap: 45px; 
}
  .mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck  .radio-custom {
    opacity: 0;
    position: absolute;   
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom, 
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label {
    position: relative;
    color: #858a94;
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom + 
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}



.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom + 
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label:before {
    border-radius: 50%;
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom:checked + 
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom:focus + 
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-bottom .selectionCheck .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}


.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-calculate .btn-calculator{
    background-color: #2a9fe8;
    width: 100%;
    color: white;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 500;
    padding: 0;
    height: 31px;
}
.mobile-view .advance-search-calculator-mobile .accordion .accordion-body .shipping-method .inner .wrap .top .shipping-calculate .btn-reset{
    border: 1px solid #858a94;
    color: #353c4d;
    width: 100%;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 500;
    padding: 0;
    height: 31px;
}
  
.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list .icon-sliders{
    font-size: 12px;
    font-family: 'Lato';
    margin-block: 4px;
    display: inline-block;
    color: #353c4d;
    border: 1px solid #353c4d;
    border-radius: 30px;
    padding: 8px 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    margin-right: 2px;
}
.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list .icon-sliders .filters-count{
    position: relative;
    bottom: 4px;
    padding: 2px 5px;
    color: white;
    background-color: #6ad09d;
    border-radius: 50%;
    font-family: 'Sofia-Pro';
    font-size: 10px;
    font-weight: 600;
    line-height: 16.68px;
    letter-spacing: -0.01em;
}
.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list .icon-sliders .fa-chevron-down{
    font-size: 8px;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
}

.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list{
    padding: 0px 0px;
    list-style-type: none;
    display: inline-block;
    scrollbar-width: none;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list .icon-sliders-cross{
    font-size: 12px;
    font-family: 'Lato';
    margin-block: 4px;
    display: inline-block;
    background-color: #ecf5ff;
    color: #154f74;
    border: 1px solid #154f74;
    border-radius: 30px;
    padding: 8px 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    margin-right: 2px;
}
.mobile-view .advance-search-calculator-mobile .mobile-filters-search .filter-list .icon-sliders-cross .fa-close{
    color: #154F74;
    margin-left: 8px;
    font-size: 12px;
    font-weight: 900;
}

.mobile-view .advance-search-calculator-mobile .mobile-anim-details .heading{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
    color: #0c1529;
}
.mobile-view .advance-search-calculator-mobile .mobile-anim-details .details{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato';
    color: #5d6370;
    margin-bottom: 12px;
    line-height: 21px;
}
.mobile-view .advance-search-calculator-mobile .mobile-anim-details .details ol{
    color: #353c4d;
}

.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .heading{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
    margin-bottom: 0px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .sav-sear{
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #2384c1;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0px;
    cursor: pointer;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .sort .btn-sort-search-mobile{
    font-family: 'Lato';
    font-size: var(--fs-12);
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #3f395a;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .left {
    width: 33%;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right {
    width: 67%;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .left .mobile-stock-search .stock-text{
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    color: #5d6370;
} 
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .left .mobile-stock-search .stock-text-id{
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #0c1529;
} 
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .top .mobile-nys{
    padding: 4px 6px;
    border-radius: 10px;
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 500;
    line-height: 8.99px;
    letter-spacing: -0.01em;
    color: #ffffff;
    background-color: #ff4b44;
} 
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .top .mobile-nys2{
    padding: 4px 6px;
    border-radius: 10px;
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 500;
    line-height: 8.99px;
    letter-spacing: -0.01em;
    color: #c8811a;
    background-color: #fbf2cb;
} 
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .country .mobile-nys2{
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #0c1529;
    display: flex;
    align-items: center;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .heading{
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #1c6a9b;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 0px 5px;
} 

.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-spec-info .inner .year{
    font-family: 'Lato';
    font-size: var(--fs-10);
    font-weight: 700;
    line-height: 12px;
    margin-bottom: 0px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-spec-info .inner .dot{
    background-color: #aeb1b8;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    margin: 0px 2px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-search-prices .inner .prices{
    display: flex;
    align-items: center;
    font-size: 10px;
    justify-content: space-between;
    padding: 0px 5px;
    font-family: 'Lato';
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-search-prices .inner .prices .amount{
    font-weight: 700;
    color: #1c6a9b;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-search-prices .inner .prices .amount-drop{
    color: #aeb1b8;
    text-decoration: line-through;
    font-weight: 700;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-search-prices .inner .prices .discount{
    color: #2f9461;
    font-weight: 700;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-total-price-car .inner{
    font-family: 'Lato';
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #353c4d;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-total-price-car .inner .amount{
    font-weight: 700;
    color: #1c6a9b;
}

.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-buttons-buy .inner .btn-inquire{
    background-color: #154f74;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Lato';
    border-radius: 4px;
    line-height: 16px;
    height: 30px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-car-details-search .inner .right .mobile-car-buttons-buy .inner .btn-buyNow{
    background-color: #2a9fe8;
    color: white;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Lato';
    border-radius: 4px;
    line-height: 16px;
    height: 30px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-searh-pagination .inner{
    font-size: 10px;
    font-family: 'Lato';

}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-searh-pagination .inner .page-list .list-page.active{
    color: #1c6a9b;
    font-weight: 700;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-cars-search .top .mobile-searh-pagination .inner .page-list .list-page.hover{
    background-color: #ededf1;
    color: #353c4d;
    font-weight: 700;
    border-radius: 50px;
    padding: 1px 6px;
    height: 17px;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-car-sale .inner .heading{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    color: #353c4d;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-car-sale .inner .details .para{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: justify;
    color: #5d6370;
}
.mobile-view .advance-search-calculator-mobile .mobile-used-car-sale .inner .mobile-search-view-text .view-all{
    color: #2384c1;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato';
}

#toggleViewLess {
    display: none;
  }
  .mobile-view .advance-search-calculator-mobile .mobile-frc-section .inner .heading{
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #353c4d;
    margin: 4px 0px;
  }
  .mobile-view .advance-search-calculator-mobile .mobile-frc-section .inner .accordion .accordion-button{
    padding: 10px;
    height: 36px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #333;
    border: 1px solid #aeb1b8;
    background-color: transparent;
  }
  .mobile-view .advance-search-calculator-mobile .mobile-frc-section .inner .accordion .accordion-button:not(.collapsed) {
    border: 1px solid #1c6a9b;
    color: #1c6a9b;
}
.mobile-view .advance-search-calculator-mobile .mobile-frc-section .inner .accordion .accordion-body{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lato';
    width: 90%;
    justify-content: space-between;
    line-height: 22px;
    color: #2a9fe8;
}
/* ===================================== End Mobile Advance Search Page Css ===================================== */

