:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
    --lavender-mist:#EDEDF1;
    --ghost-white: #F6F6F8;
    --charcoal-blue:#2F2B4333;
    --cool-gray: #858A94;



    /* fonts-variable */
    --fs-16: 1rem;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-semibold';
    font-style: normal;
    font-weight: 700; /* Semibold */
    src: url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-display: swap;
}

.fa-chevron-right{
    font-size: var(--fs-10);
}
.mobile-view .headerSearch .offcanvas.offcanvas-start{
    border-right:none !important;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .mobile-offcanvas-heading{
    left: 40%;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .btn-close {
    width: 24px;
    height: 24px;
    font-size: 12px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-header .mobile-find-car-nested{
    left: 120px;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}
.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas a{
    text-decoration: none;
    color: var(--rich-black);
    font-size: var(--fs-14);
    font-family: 'Lato-Regular';
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency{
    font-size: var(--fs-12);
    color: var(--rich-black);
    font-family: 'Lato-semibold';
}
.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select{
    width: 78px;
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    background-color: var(--ghost-white);
    border-radius: 4px;
    border: 1px solid var(--charcoal-blue);
    background-position: right 2px center;
    
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select option[selected] {
    color: var(--cool-gray);
}

.mobile-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas .mobile-offcanvas-settings .setting-currency-select option {
    color: var(--rich-black); 
}


.mobile-view .headerSearch .search-form .input-group .input-group-text{
    background-color: var(--light-lavender);
}
/* ===================================== Start Mobile View Footer Css ===================================== */
.mobile-view{
    position:relative;
    display: none; /* not show on desktop version */
}
.mobile-view .mobile-footer-wrapper{
    background-color: var(--primary-color);
}
.mobile-view .mobile-footer-wrapper .mobile-footer-top{
    display: flex;
    justify-content: space-between;
}
.mobile-view .mobile-footer-wrapper .footer-logo img{
    width: 115px;
    height: 42px;
}
.mobile-view .mobile-footer-wrapper .social-links{
    position:relative;
}
.mobile-view .mobile-footer-wrapper .social-links .heading{
    font-family: 'Lato-semibold';
    font-size: 0.8rem;
    color: var(--white-color);
    line-height: 20px;

}
.mobile-view .mobile-footer-wrapper .social-links .social-links-ref a{
   text-decoration: none;
}
.mobile-view .mobile-footer-wrapper .social-links img{
    width: 24px;
    height: 24px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact{
    display: flex;
    justify-content: space-between;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a{
    display: flex;
    align-items: center;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-phone a p{
    margin: 0;
    color: var(--white-color);
    font-size: 13px;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-contact .contact-by-email a p{
    margin: 0;
    color: var(--white-color);
    font-size: 13px;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address{
    display: flex;
    color: var(--white-color);
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address img{
    width: 16px;
    height: 16px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-address .contact-by-address p{
    font-size: 13px;
    margin: 0;
    padding: 0px 10px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates{
    position:relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .heading{
    font-family: 'Lato-semibold';
    color:var(--white-color);
    font-size: 14px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .send-feedback{
   position: relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .send-feedback .btn-sendfeedback{
    background-color: var(--skin-color);
    color: var(--Eigengrau);
    font-size: 14px;
    padding: 12px 15px;
    font-family: 'Lato-semibold';
    line-height: 18px;
    cursor: pointer;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-download{
    position: relative;
    display: flex;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-download img{
    width: 109.5px;
    height: 36.6px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail{
    position: relative;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail .footer-mail-input{
    font-family: 'Lato-semibold';
    font-size: 0.9rem;
    padding:10px 20px;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .refer-to-mail .btn-subscribe{
    background-color: var(--custome-color);
    font-size: 14px;
    font-family: 'Lato-semibold';
    cursor: pointer;
}
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item{
    background-color: var(--primary-color);
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button.collapsed{
    background-color: var(--primary-color);
    font-family: 'Lato-semibold';
    font-size: 13px;
    padding: 12px 0px;
    border: 1px solid #FFFFFF4D;
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button{
    background-color: var(--primary-color);
    font-family: 'Lato-semibold';
    font-size: 13px;
    padding: 12px 0px;
    border: 1px solid var(--white-color);
} 
.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-button img{
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
} 
.mobile-view .accordion-button::after {
    background-image: url('../images/down-chevron.webp') !important; 
    background-size: 11px 8px !important;
    position: relative;
    top: 5px;
}
.mobile-view .accordion-button:not(.collapsed)::after {
    position: relative;
    top: -5px;
    left: -10px;
}

.mobile-view .mobile-footer-wrapper .footer-mobile-rates .accordion-item .accordion-body ul li{
    font-size: 14px;
}
.mobile-view .mobile-footer-wrapper .mobile-footer-copyright{
    position: relative;
    background: var(--dark-primary);
    padding: 15px 0px 2px 0px;
    font-family: 'Lato-semibold';
    line-height: 16px;
    font-size: 14px;
    border: 1px solid #AEB1B8;
}

/* ===================================== End  Mobile View Footer Css ===================================== */
