:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-semibold';
    font-style: normal;
    font-weight: 700; /* Semibold */
    src: url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-display: swap;
}

/* ===================================== Start Tablet View Header Css ===================================== */
.tablet-view .headerSearch{
    position: relative;
}
.tablet-view .headerSearch .btn-offcanvas{
    width: max-content;
}
.tablet-view .headerSearch .search-form .input-group{
    height: 40px;
}
/* ===================================== End Tablet View Header Css ===================================== */


/* ===================================== Start Tablet Footer Css ===================================== */

.tablet-view{
    position: relative;   
}

.tablet-view .tablet-footer-wrapper{
    background-color: var(--primary-color);  
    color: var(--white-color);
}
.tablet-view .tablet-footer-wrapper .heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
}
.tablet-view .tablet-footer-wrapper .send-feedback .btn-tablet-send-feedback {
    font-family: 'Lato-semibold';
    font-size: 14px;
    color: var(--Eigengrau);
    padding: 6px 20px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-phone img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-phone p{
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-email img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-email p{
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-address img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-address p{
    white-space: nowrap;
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .join-by-mailing .join-mail-ref .input-group-text{
    font-family: 'Lato-Regular';
    font-size: 14px;
    background-color: var(--custome-color);
    color: var(--white-color);
    line-height: 18.92px;
    cursor: pointer;
}
.tablet-view .tablet-footer-wrapper .footer-list .list-heading{
    font-family: 'Lato-semibold';
    font-size:16px;
}
.tablet-view .tablet-footer-wrapper .footer-list .list-unstyled .text-decoration-none{
    font-family: 'Lato-Regular';
    font-size:14px;
}
.tablet-view .tablet-footer-copyright{
    background: var(--dark-primary);
    color: var(--white-color);
    border-top: 1px solid var(--border-color);
    font-family: 'Lato-semibold';
    font-size: 1rem;
    line-height: 24px;
    padding: 15px 0px;
}


/* ===================================== End Tablet Footer Css ===================================== */

