:root{
    --primary-color: #014E78;
    --secondary-color: #DCDAE2;
    --custome-color:#2A9FE8;
    --white-color:#fff;
    --black-color:#0C1529;
    --para-color:#353C4D;
    --skin-color:#FFFDF6;
    --Eigengrau:#0D1017;
    --placeholder-color:#5D6370;
    --dark-primary:#01334E;
    --border-color:#AEB1B8;
    --light-lavender:#EDEDF1;
    --muted-grey: #2F2B434D;
    --deep-slate-gray:#5D6370;
    --rich-black:#141817;
    --lavender-mist:#EDEDF1;
    --ghost-white: #F6F6F8;
    --charcoal-blue:#2F2B4333;
    --cool-gray: #858A94;



    /* fonts-variable */
    --fs-16: 1rem;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-24: 24px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 900; /* Black */
    src: url('../fonts/Lato-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url('../fonts/Lato-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Lato-semibold';
    font-style: normal;
    font-weight: 700; /* Semibold */
    src: url('../fonts/Lato-Semibold.woff2') format('woff2');
    font-display: swap;
}

/* ===================================== Start Tablet View Header Css ===================================== */
.tablet-view .headerSearch{
    position: relative;
}
.tablet-view .headerSearch .btn-offcanvas{
    width: max-content;
}
.tablet-view .headerSearch .search-form .input-group{
    height: 40px;
}
.tablet-view .headerSearch .offcanvas .offcanvas-body .tablet-main-offcanvas a {
    text-decoration: none;
    color: var(--rich-black);
    font-size: var(--fs-14);
    font-family: 'Lato-Regular';
}
.tablet-view .headerSearch .offcanvas .offcanvas-header .tablet-offcanvas-heading{
    left: 40%;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}
.tablet-view .headerSearch .offcanvas .offcanvas-header .btn-close {
    width: 24px;
    height: 24px;
    font-size: var(--fs-12);
}
.tablet-view .headerSearch .offcanvas .offcanvas-body .mobile-main-offcanvas a {
    text-decoration: none;
    color: var(--rich-black);
    font-size: var(--fs-14);
    font-family: 'Lato-Regular';
}
.tablet-view .headerSearch .offcanvas .offcanvas-header .tablet-find-car-nested {
    left: 120px;
    color: var(--rich-black);
    font-size: var(--fs-16);
    font-family: 'Lato-semibold';
    line-height: 24px;
}

.tablet-view .headerSearch .offcanvas .offcanvas-body .tablet-main-offcanvas .tablet-offcanvas-settings .setting-currency {
    font-size: var(--fs-12);
    color: var(--rich-black);
    font-family: 'Lato-semibold';
}
.tablet-view .headerSearch .offcanvas .offcanvas-body .tablet-main-offcanvas .tablet-offcanvas-settings .setting-currency-select {
    width: 78px;
    font-family: 'Lato-Regular';
    font-size: var(--fs-12);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.01em;
    background-color: var(--ghost-white);
    border-radius: 4px;
    border: 1px solid var(--charcoal-blue);
    background-position: right 2px center;
}

/* ===================================== End Tablet View Header Css ===================================== */


/* ===================================== Start Tablet Footer Css ===================================== */

.tablet-view{
    position: relative;   
}

.tablet-view .tablet-footer-wrapper{
    background-color: var(--primary-color);  
    color: var(--white-color);
}
.tablet-view .tablet-footer-wrapper .heading{
    font-family: 'Lato-semibold';
    font-size: 16px;
}
.tablet-view .tablet-footer-wrapper .send-feedback .btn-tablet-send-feedback {
    font-family: 'Lato-semibold';
    font-size: 14px;
    color: var(--Eigengrau);
    padding: 6px 20px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-phone img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-phone p{
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-email img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-email p{
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-address img{
    height: 26px;
}
.tablet-view .tablet-footer-wrapper .contact .contact-by-address p{
    white-space: nowrap;
    font-family: 'Lato-Regular';
    font-size: 14px;
}
.tablet-view .tablet-footer-wrapper .join-by-mailing .join-mail-ref .input-group-text{
    font-family: 'Lato-Regular';
    font-size: 14px;
    background-color: var(--custome-color);
    color: var(--white-color);
    line-height: 18.92px;
    cursor: pointer;
}
.tablet-view .tablet-footer-wrapper .footer-list .list-heading{
    font-family: 'Lato-semibold';
    font-size:16px;
}
.tablet-view .tablet-footer-wrapper .footer-list .list-unstyled .text-decoration-none{
    font-family: 'Lato-Regular';
    font-size:14px;
}
.tablet-view .tablet-footer-copyright{
    background: var(--dark-primary);
    color: var(--white-color);
    border-top: 1px solid var(--border-color);
    font-family: 'Lato-semibold';
    font-size: 1rem;
    line-height: 24px;
    padding: 15px 0px;
}


/* ===================================== End Tablet Footer Css ===================================== */


/* ===================================== Start Tablet How to Buy Css ===================================== */
.how-to-buy-tablet .title p {
    font-family: "Sofia-Pro";
    font-size: var(--fs-24);
    font-weight: 600;
    color: #020408;
}
.how-to-buy-tablet .browseInventory {
    border: 1px solid var(--border-color);
    height: 181px;
    width: 100%;
}
.how-to-buy-tablet .browseInventory .heading {
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.014em;
    color: #353c4d;
    padding-bottom: 6px;
}
.how-to-buy-tablet .browseInventory .text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-align: center;
    color: #353c4d;
    padding: 0px 16px;
}
.how-to-buy-tablet .makePayment {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}
.how-to-buy-tablet .makePayment .heading {
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.014em;
    color: #353c4d;
    padding-bottom: 6px;
}
.how-to-buy-tablet .makePayment .text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-align: center;
    color: #353c4d;
    padding: 0px 16px;
}
.how-to-buy-tablet .trackShipment {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}
.how-to-buy-tablet .trackShipment .heading {
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.014em;
    color: #353c4d;
    padding-bottom: 6px;
}
.how-to-buy-tablet .trackShipment .text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-align: center;
    color: #353c4d;
    padding: 0px 16px;
}
.how-to-buy-tablet .receiveDelivery {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}
.how-to-buy-tablet .receiveDelivery .heading {
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.014em;
    color: #353c4d;
    padding-bottom: 6px;
}
.how-to-buy-tablet .receiveDelivery .text {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-align: center;
    color: #353c4d;
    padding: 0px 16px;
}
.how-to-buy-tablet .buy-more {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5d6370;
    cursor: pointer;
    text-decoration: none;
}
.how-to-buy-tablet .buy-more .details {
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #5d6370;
    text-decoration: none;
    cursor: pointer;
}
.how-to-buy-tablet .buy-more .details span:hover {
    color: var(--custome-color);
}
/* ===================================== End Tablet How to Buy Css ===================================== */

/* ===================================== Start Tablet Operate Css ===================================== */
.where-we-operates-tablet .title {
    font-family: "Sofia-Pro";
    font-size: var(--fs-24);
    font-weight: 600;
    color: #020408;
}
.where-we-operates-tablet .operateInPakistan {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
    cursor: pointer;
}
.where-we-operates-tablet .operateInPakistan:hover {
    border: 1px solid #1c6a9bc7;
}
.where-we-operates-tablet .operateInPakistan .heading {
    font-size: var(--fs-20);
    font-family: "Lato", sans-serif;
    color: var(--para-color);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.016em;
}
.where-we-operates-tablet .operateInKenya {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}
.where-we-operates-tablet .operateInKenya:hover {
    border: 1px solid #1c6a9bc7;
    cursor: pointer;
}
.where-we-operates-tablet .operateInKenya .heading {
    font-size: var(--fs-20);
    font-family: "Lato", sans-serif;
    color: var(--para-color);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.016em;
}
.where-we-operates-tablet .operateInTanzania {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}
.where-we-operates-tablet .operateInTanzania:hover {
    border: 1px solid #1c6a9bc7;
    cursor: pointer;
}
.where-we-operates-tablet .operateInTanzania .heading {
    font-size: var(--fs-20);
    font-family: "Lato", sans-serif;
    color: var(--para-color);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.016em;
}
.where-we-operates-tablet .operateInGB {
    border: 1px solid var(--border-color);
    width: 100%;
    height: 181px;
}

.where-we-operates-tablet .operateInGB .heading {
    font-size: var(--fs-20);
    font-family: "Lato", sans-serif;
    color: var(--para-color);
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.016em;
}
.where-we-operates-tablet .operateInGB:hover {
    border: 1px solid #1c6a9bc7;
    cursor: pointer;
}
.where-we-operates-tablet .offcanvas-body .mobile-show-wrapper {
    border: 1px solid #dcdae2;
    padding: 10px 10px 0px 10px;
    display: flex;
    align-items: start;
    margin-bottom: 10px;
}
.where-we-operates-tablet .offcanvas.hiding, 
.where-we-operates-tablet .offcanvas.show, 
.where-we-operates-tablet .offcanvas.showing {
    visibility: visible;
    height: 800px;
    border-radius: 20px 20px 0px 0px;
} 
.where-we-operates-tablet .btn-tablet-show-countries {
    font-family: 'Lato';
    border: 1px solid #1c6a9b;
    font-size: var(--fs-16);
    color: #1c6a9b;
    letter-spacing: -0.01em;
    border-radius: 4px;
    line-height: 16px;
    font-weight: 700;
    height: 40px;
    width: max-content;
    margin: 5% 37% 0% 37%;
} 
/* ===================================== End Tablet Operate Css ===================================== */

/* ===================================== Start Popular Car Css ===================================== */
.popular_used_car-tablet .popularBrandSwiper{
    height: 428px;
    cursor: pointer;
}

.popular_used_car-tablet .heading .title{
    font-family: "Sofia-Pro";
    font-size: var(--fs-24);
    font-weight: 600;
}

.popular_used_car-tablet .box .top-brand{
    border: 1px solid #dcdae2;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    width: 163px;
    height: 163px;
    align-items: center;
    margin: 0% 16%;
}
.popular_used_car-tablet .box .top-brand:hover{
    border: 1px solid var(--custome-color);
}
.popular_used_car-tablet .box .bottom-brand{
    border: 1px solid #dcdae2;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 163px;
    height: 163px;
    align-items: center;
    margin: 16% 16%;
}
.popular_used_car-tablet .box .bottom-brand:hover{
    border: 1px solid var(--custome-color);
}
.popular_used_car-tablet .box .top-brand .items img{
    width: 60px;
    height: 60px;
}
.popular_used_car-tablet .box .top-brand .items .brand-title{
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
}
.popular_used_car-tablet .box .bottom-brand .items img{
    width: 60px;
    height: 60px;
}
.popular_used_car-tablet .box .bottom-brand .items .brand-title{
    font-family: "Lato", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
}

.popular_used_car-tablet .swiper-button-next, 
.popular_used_car-tablet .swiper-button-prev {
    color: #333;
    background-color: #ffffffa9;
    border-radius: 50%;
    padding: 10px;
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    border: 1px solid #aeb1b8;
    box-shadow: 0px 0px 6.08px 0px #2f2b434d;
}
.popular_used_car-tablet .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 70px);
    right: auto;
}
.popular_used_car-tablet .swiper-button-prev:after {
    content: '\f053' !important;
    font-size: 14px !important;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free' !important;
    filter: grayscale(1);
}
.popular_used_car-tablet .swiper-button-next:after {
    content: '\f054' !important;
    font-size: 14px !important;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free' !important;
    filter: grayscale(1);
}
.popular_used_car-tablet .swiper-button-next:hover, 
.popular_used_car-tablet .swiper-button-prev:hover {
    background-color: var(--custome-color);
    color: white;
}

.popular_used_car-tablet .view-all-popular-cars .view-all{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5d6370;
    cursor: pointer;
    text-decoration: none;
}
.popular_used_car-tablet .view-all-popular-cars .view-all:hover{
    color: var(--custome-color);
}
/* ===================================== End Popular Car Css ===================================== */



/* ===================================== Start Best Seller By Type Css ===================================== */
.best-seller-by-type-tablet{
    position: relative;
}
.best-seller-by-type-tablet .title{
    font-family: "Sofia-Pro";
    font-size: var(--fs-24);
    font-weight: 600;
}
.best-seller-by-type-tablet .product-card .heading{
    color: #000000;
    font-family: "Lato";
    font-size: var(--font-size-16);
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
}
.best-seller-by-type-tablet .product-card ul{
    padding: 0;
    line-height: 30px;
}
.best-seller-by-type-tablet .product-card ul li{
    list-style-type: none;
    font-family: "Lato";
}
.best-seller-by-type-tablet .product-card ul li:hover{
    text-decoration: underline;
    text-decoration-color: #1c6a9b;
}
.best-seller-by-type-tablet .product-card ul li .product-card-list{
    color: #1c6a9b;
}


 .best-seller-by-type-tablet .buy-more .details{
    font-family: "Lato";
   font-size: 16px;
   font-weight: 600;
   color: #5d6370;
   cursor: pointer;
   text-decoration: none;
 }
 .best-seller-by-type-tablet .buy-more .details span:hover{
    color: var(--custome-color);
  }
/* ===================================== End Best Seller By Type Css ===================================== */


/* ===================================== Start By Decision Css ===================================== */
.by-decision-tablet{
    position: relative;
}
.by-decision-tablet .title{
    font-family: "Sofia-Pro";
    font-size: var(--fs-24);
    font-weight: 600;
    color: #020408;
}

.by-decision-tablet .best-seller-card{
    cursor: pointer;
}
.by-decision-tablet .best-seller-card img{
    width: 100%;
}
.by-decision-tablet .best-seller-card .blog-para{
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(53, 60, 77);
    margin: 6px 0px;
}
.by-decision-tablet .best-seller-card .blog-post-date{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}


 .by-decision-tablet  .buy-more .details{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #5d6370;
    cursor: pointer;
    text-decoration: none;
 }
 .by-decision-tablet  .buy-more .details span:hover{
    color: var(--custome-color);
  }
/* ===================================== End By Decision Css ===================================== */

/* ===================================== Start Get More App Section CSS ===================================== */
/* .get_more_app_tablet .getMoreApp .inner{
    padding: 8px 64px 0;
    border-radius: 20px;
    background: #f7fbfb !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.get_more_app_tablet .getMoreApp .inner .center .top .title{
    color: #000;
    font-family: 'Lato';
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.54px;
    margin-bottom: 12px;
}
.get_more_app_tablet .getMoreApp .inner .center .top .para{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
}
.get_more_app_tablet .getMoreApp .inner .right .tag{
    color: #0c1529;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
    margin-bottom: 0;
    margin-top: 10px;
} */
  .get_more_app_tablet .application-wrapper {
    padding: 19px 64px 0;
    border-radius: 20px;
    background: #014e78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 84px;
    color: white;
}
.get_more_app_tablet     .main-image-app {
    max-width: 235px;
    height: auto;
}
.get_more_app_tablet .application-wrapper .application-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 348px;
}
.get_more_app_tablet .application-wrapper .application-text .title {
    color: #fff;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.54px;
    margin-bottom: 12px;
}
.get_more_app_tablet .application-wrapper .application-text .para {
    color: #fff;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
    margin-bottom: 16px;
}
.get_more_app_tablet .application-wrapper .application-text .img-app-app {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.get_more_app_tablet .application-wrapper .scan-app-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.get_more_app_tablet .application-wrapper .scan-app-text .para {
    color: #fff;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    text-align: center;
}
/* ===================================== End Get More App Section CSS ===================================== */

